<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">ID </label>
                    <input type="text"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="formrow-firstname-input ">(*)Crédito</label>
                    <select class="form-control form-select" id="creditoId" required formControlName="creditoId" name="creditoId" [ngClass]="{ 'is-invalid': submitted && form['creditoId'].errors }">
                    <option *ngFor="let t of credito" value="{{t.id}}"  >{{t.id}} </option>
                    </select>
                    <div *ngIf="submitted && form['creditoId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['creditoId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['creditoId'].errors['minlength']">Debe tener al menos {{form['creditoId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['creditoId'].errors['maxlength']">Debe tener menos de {{form['creditoId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['creditoId'].errors['min']">Debe tener mayor o igual que {{form['creditoId'].errors['min']['min']}} </div>
                    <div *ngIf="form['creditoId'].errors['max']">Debe tener menor o igual que {{form['creditoId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)# de Cuota </label>
                    <input type="number"  class="form-control uppercase" id="nrocuota" (click)="alCambiar(form)" required formControlName="nrocuota" [ngClass]="{ 'is-invalid': submitted && form['nrocuota'].errors }">
                    <div *ngIf="submitted && form['nrocuota'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['nrocuota'].errors['required']">Es requerido</div>
                    <div *ngIf="form['nrocuota'].errors['minlength']">Debe tener al menos {{form['nrocuota'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nrocuota'].errors['maxlength']">Debe tener menos de {{form['nrocuota'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nrocuota'].errors['min']">Debe tener mayor o igual que {{form['nrocuota'].errors['min']['min']}} </div>
                    <div *ngIf="form['nrocuota'].errors['max']">Debe tener menor o igual que {{form['nrocuota'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Interés </label>
                    <input type="text"  class="form-control uppercase" id="interes" (click)="alCambiar(form)" required formControlName="interes" [ngClass]="{ 'is-invalid': submitted && form['interes'].errors }">
                    <div *ngIf="submitted && form['interes'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['interes'].errors['required']">Es requerido</div>
                    <div *ngIf="form['interes'].errors['minlength']">Debe tener al menos {{form['interes'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['interes'].errors['maxlength']">Debe tener menos de {{form['interes'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['interes'].errors['min']">Debe tener mayor o igual que {{form['interes'].errors['min']['min']}} </div>
                    <div *ngIf="form['interes'].errors['max']">Debe tener menor o igual que {{form['interes'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Capital </label>
                    <input type="text"  class="form-control uppercase" id="capital" (click)="alCambiar(form)" required formControlName="capital" [ngClass]="{ 'is-invalid': submitted && form['capital'].errors }">
                    <div *ngIf="submitted && form['capital'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['capital'].errors['required']">Es requerido</div>
                    <div *ngIf="form['capital'].errors['minlength']">Debe tener al menos {{form['capital'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['capital'].errors['maxlength']">Debe tener menos de {{form['capital'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['capital'].errors['min']">Debe tener mayor o igual que {{form['capital'].errors['min']['min']}} </div>
                    <div *ngIf="form['capital'].errors['max']">Debe tener menor o igual que {{form['capital'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Saldo </label>
                    <input type="text"  class="form-control uppercase" id="saldo" (click)="alCambiar(form)" required formControlName="saldo" [ngClass]="{ 'is-invalid': submitted && form['saldo'].errors }">
                    <div *ngIf="submitted && form['saldo'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['saldo'].errors['required']">Es requerido</div>
                    <div *ngIf="form['saldo'].errors['minlength']">Debe tener al menos {{form['saldo'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['saldo'].errors['maxlength']">Debe tener menos de {{form['saldo'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['saldo'].errors['min']">Debe tener mayor o igual que {{form['saldo'].errors['min']['min']}} </div>
                    <div *ngIf="form['saldo'].errors['max']">Debe tener menor o igual que {{form['saldo'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Mora </label>
                    <input type="text"  class="form-control uppercase" id="mora" (click)="alCambiar(form)" required formControlName="mora" [ngClass]="{ 'is-invalid': submitted && form['mora'].errors }">
                    <div *ngIf="submitted && form['mora'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['mora'].errors['required']">Es requerido</div>
                    <div *ngIf="form['mora'].errors['minlength']">Debe tener al menos {{form['mora'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['mora'].errors['maxlength']">Debe tener menos de {{form['mora'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['mora'].errors['min']">Debe tener mayor o igual que {{form['mora'].errors['min']['min']}} </div>
                    <div *ngIf="form['mora'].errors['max']">Debe tener menor o igual que {{form['mora'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Descuento </label>
                    <input type="text"  class="form-control uppercase" id="descuento" (click)="alCambiar(form)" required formControlName="descuento" [ngClass]="{ 'is-invalid': submitted && form['descuento'].errors }">
                    <div *ngIf="submitted && form['descuento'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['descuento'].errors['required']">Es requerido</div>
                    <div *ngIf="form['descuento'].errors['minlength']">Debe tener al menos {{form['descuento'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['descuento'].errors['maxlength']">Debe tener menos de {{form['descuento'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['descuento'].errors['min']">Debe tener mayor o igual que {{form['descuento'].errors['min']['min']}} </div>
                    <div *ngIf="form['descuento'].errors['max']">Debe tener menor o igual que {{form['descuento'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Recargo </label>
                    <input type="text"  class="form-control uppercase" id="recargo" (click)="alCambiar(form)" required formControlName="recargo" [ngClass]="{ 'is-invalid': submitted && form['recargo'].errors }">
                    <div *ngIf="submitted && form['recargo'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['recargo'].errors['required']">Es requerido</div>
                    <div *ngIf="form['recargo'].errors['minlength']">Debe tener al menos {{form['recargo'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['recargo'].errors['maxlength']">Debe tener menos de {{form['recargo'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['recargo'].errors['min']">Debe tener mayor o igual que {{form['recargo'].errors['min']['min']}} </div>
                    <div *ngIf="form['recargo'].errors['max']">Debe tener menor o igual que {{form['recargo'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Fecha de Pago </label>
                    <input type="date"  class="form-control uppercase" id="pagofecha" (click)="alCambiar(form)" required formControlName="pagofecha" [ngClass]="{ 'is-invalid': submitted && form['pagofecha'].errors }">
                    <div *ngIf="submitted && form['pagofecha'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['pagofecha'].errors['required']">Es requerido</div>
                    <div *ngIf="form['pagofecha'].errors['minlength']">Debe tener al menos {{form['pagofecha'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['pagofecha'].errors['maxlength']">Debe tener menos de {{form['pagofecha'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['pagofecha'].errors['min']">Debe tener mayor o igual que {{form['pagofecha'].errors['min']['min']}} </div>
                    <div *ngIf="form['pagofecha'].errors['max']">Debe tener menor o igual que {{form['pagofecha'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">Plazo </label>
                    <input type="date"  class="form-control uppercase" id="plazo" (click)="alCambiar(form)"  formControlName="plazo" [ngClass]="{ 'is-invalid': submitted && form['plazo'].errors }">
                    <div *ngIf="submitted && form['plazo'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['plazo'].errors['required']">Es requerido</div>
                    <div *ngIf="form['plazo'].errors['minlength']">Debe tener al menos {{form['plazo'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['plazo'].errors['maxlength']">Debe tener menos de {{form['plazo'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['plazo'].errors['min']">Debe tener mayor o igual que {{form['plazo'].errors['min']['min']}} </div>
                    <div *ngIf="form['plazo'].errors['max']">Debe tener menor o igual que {{form['plazo'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">(*)Pago</label>
                    <select class="form-control form-select" id="pagoId" required formControlName="pagoId" name="pagoId" [ngClass]="{ 'is-invalid': submitted && form['pagoId'].errors }">
                    <option *ngFor="let t of pagos" value="{{t.id}}"  >{{t.id}} </option>
                    </select>
                    <div *ngIf="submitted && form['pagoId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['pagoId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['pagoId'].errors['minlength']">Debe tener al menos {{form['pagoId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['pagoId'].errors['maxlength']">Debe tener menos de {{form['pagoId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['pagoId'].errors['min']">Debe tener mayor o igual que {{form['pagoId'].errors['min']['min']}} </div>
                    <div *ngIf="form['pagoId'].errors['max']">Debe tener menor o igual que {{form['pagoId'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
