<app-page-title  [title]="breadCrumbTitle"[breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" >

  
    <div class="card-body">
      <!-- <tabset [justified]="false" class="nav-tabs">
        <tab *ngFor="let estado of listaEstados" heading="{{estado.nombre}}" id="{{estado.id}}" (selectTab)="onSelect($event)">
        </tab>
      </tabset>-->
      <krn-tabla
        #tabla
        [titulo]="titulo"
        [datosService]="AplicacionAnticipoService"
        getAll="filter"
        [formato]="formato"
        [textoBuscar]="textoBuscar"
        [isSubtable]="rel_prefix?true:false"
        [smallTable]="false"
        [softDelete]="false"
        (crearNuevo)="(null)"
        (alCrear)="crear(modalNuevo)"
        (alActualizar)="(null)"
        (alFiltrar)="(null)"
        (alEditar)="editar($event, modalEditar)"
        campoEstado="estado"
        valueEstado="habilitado"
        [templateFila]="templateFila"
        [templateFiltrar]="templateFiltrar"
        [conOpciones]="false"
        [botonExportar]="false"

        [filtros]="true"
        [filtrosData]="filtrosData">
      </krn-tabla>

      <ng-template #templateFiltrar >
        <div class="nav">
          <div class="col-4">
            <div class="my-3 input-group">
              <div class="input-group-text">Fecha (Desde-Hasta) </div>
              <input type="text" [(ngModel)]="filtroFecha" placeholder="dd/mm/AAAA - dd/mm/AAAA" class="form-control date" name="daterange" autocomplete="off" bsDaterangepicker (bsValueChange)="cambioFecha($event)"/>
            </div>
          </div>
          <div class="col-4 px-2">
            <div class="my-3 input-group">
              <div class="input-group-text">Estado</div>
              <ng-select notFoundText="Sin registros" [(ngModel)]="filtroEstadoAnticipo" placeholder="Seleccione estado" class="uppercase col" [items]="listaEstadoAnticipo" bindLabel="nombre" bindValue="id" (change)="actualizarFiltros()">
              </ng-select>
            </div>
          </div>
          <div class="col-4 pe-1">
            <div class="my-3 input-group">
              <div class="input-group-text col-2">Monto</div>
              <div class="col-3">
                <ng-select notFoundText="Sin registros" [(ngModel)]="filtroOperador" class="col uppercase custom" style=".ng-select .ng-select-container {border-radius: 0;}" (change)="actualizarFiltros()">
                  <ng-option *ngFor="let operador of operadores" [value]="operador.id">
                    {{ operador.id }} <span class="text-muted font-size-10">({{ operador.nombre }})</span>
                  </ng-option>
                </ng-select>
              </div>
              <div class="col-4">
                <input type="text" [(ngModel)]="filtroMonto" class="form-control" style="border-radius: 0; height: 36px;" (change)="actualizarFiltros()"/>
              </div>
              <div class="col-3">
                <ng-select notFoundText="Sin registros" [(ngModel)]="filtroDebeHaber" class="col uppercase custom1" [items]="tipos" bindLabel="nombre" bindValue="id" (change)="actualizarFiltros()">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #templateFila let-fila="fila" let-cabeceras="cabeceras" >
        <ng-template ngFor let-campo [ngForOf]="cabeceras">
          <ng-template *ngIf="formato.cabeceras[campo].visibleCheck; then tempTD"></ng-template>
          <ng-template #tempTD>
            <td [ngSwitch]="campo">
              <div *ngSwitchCase="'acciones'">
                <ul class="list-unstyled hstack gap-1 mb-0">
                  <li data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles">
                    <!-- <button class="btn btn-sm btn-info" (click)="verRegistro(fichaComprobante, fila)" ><i class="mdi mdi-eye"></i></button> -->
                    <button class="btn btn-sm btn-soft-info" [disabled]="fila.deleted" (click)="editar(fila, modalEditar)"><i class="mdi mdi-pencil-outline"></i></button>
                  </li>
                  <li data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar Comprobante">
                    <!-- <button class="btn btn-sm btn-warning" (click)="descargarComprobante(fila.id)"><i class="mdi mdi-download"></i></button> -->
                  </li>
                </ul>
              </div>
              <div *ngSwitchCase="'id'">
                {{fila[campo]}}
              </div>
              <div *ngSwitchCase="'fecha'">
                {{fila.fecha | date:"dd-MM-yyyy" }}  
              </div>
              <div *ngSwitchCase="'estado'">
                {{fila.estadoAnticipo.nombre}}
              </div>
              <div *ngSwitchCase="'monto'" class="text-end">
                {{fila.monto }}  
              </div>
              <div *ngSwitchCase="'saldo'" class="text-end">
                {{fila.saldo }}  
              </div>
             
              <div *ngSwitchDefault>
               {{fila[campo]}}
              </div>
            </td>
          </ng-template>
        </ng-template>
      </ng-template>
      <div class="row">
        <div class="nav justify-content-end">
          <button type="button" class="btn btn-light" (click)="regresar()">Regresar</button>
        </div>
      </div>
    </div>

 
</div>

<ng-template #modalNuevo role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Registar Movimiento de Anticipo</h5>
    <button type="button" class="btn-close"data-bs-dismiss="modal" aria-label="Close" id="close-modal"(click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body"> <!-- app-aplicacion-formulario -->
    
    <app-aplicacion-formulario #appFormAplicacion [idRuta]="id" (alGuardar)="modalRef.hide(); tabla.obtenerDatos()"></app-aplicacion-formulario>
  </div>
  <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
     <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
      <button type="button" class="btn btn-success" (click)="appFormAplicacion.guardar()">Registrar</button>
    </div>
  </div>
</ng-template>

<ng-template #modalEditar role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar Movimiento Anticipo</h5>
    <button type="button" class="btn-close"data-bs-dismiss="modal" aria-label="Close" id="close-modal"(click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    
    <app-aplicacion-formulario #appFormAplicacion [anticipo]="anticipo" [idRuta]="id" (alActualizar)="modalRef.hide(); tabla.obtenerDatos()"></app-aplicacion-formulario>
  </div>
  <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
     <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
      <button type="button" class="btn btn-success" (click)="appFormAplicacion.guardar()">Guardar</button>
    </div>
  </div>
</ng-template>