<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="text"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">(*)Deudor</label>
                    <select class="form-control form-select" id="deudorId" required formControlName="deudorId" name="deudorId" [ngClass]="{ 'is-invalid': submitted && form['deudorId'].errors }">
                    <option *ngFor="let t of deudor" value="{{t.id}}"  >{{t.entidad.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['deudorId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['deudorId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['deudorId'].errors['minlength']">Debe tener al menos {{form['deudorId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['deudorId'].errors['maxlength']">Debe tener menos de {{form['deudorId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['deudorId'].errors['min']">Debe tener mayor o igual que {{form['deudorId'].errors['min']['min']}} </div>
                    <div *ngIf="form['deudorId'].errors['max']">Debe tener menor o igual que {{form['deudorId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">(*)Cuenta</label>
                    <select class="form-control form-select" id="cuentaId" required formControlName="cuentaId" name="cuentaId" [ngClass]="{ 'is-invalid': submitted && form['cuentaId'].errors }">
                    <option *ngFor="let t of cuenta" value="{{t.id}}"  >{{t.cuentaTipo.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['cuentaId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['cuentaId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['cuentaId'].errors['minlength']">Debe tener al menos {{form['cuentaId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cuentaId'].errors['maxlength']">Debe tener menos de {{form['cuentaId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cuentaId'].errors['min']">Debe tener mayor o igual que {{form['cuentaId'].errors['min']['min']}} </div>
                    <div *ngIf="form['cuentaId'].errors['max']">Debe tener menor o igual que {{form['cuentaId'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
