<app-page-title title="Fondos Operativos" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<krn-tabla
  #tabla
  [titulo]="titulo"
  [datosService]="fondoOperativoService"
  getAll="getAll"
  [formato]="formato"
  [textoBuscar]="textoBuscar"
  [isSubtable]="rel_prefix ? true : false"
  [templateFila]="undefined"
  [smallTable]="false"
  [softDelete]="false"
  (crearNuevo)="(null)"
  (alCrear)="crear(modalGeneral)"
  (alActualizar)="(null)"
  (alFiltrar)="(null)"
  (alEditar)="editar($event, modalGeneral)"
  campoEstado="estado"
  valueEstado="habilitado"
  (alHabilitar)="habilitar($event, tabla, 'habilitar')"
  (alDeshabilitar)="habilitar($event, tabla, 'inhabilitar')"
  [botonExportar]="false"
  [botonImportar]="false"
  [conOpciones]="false"
  [templateFila]="templateFila">
</krn-tabla>

<ng-template #templateFila let-fila="fila" let-cabeceras="cabeceras" >
  <ng-template ngFor let-campo [ngForOf]="cabeceras">
    <ng-template *ngIf="formato.cabeceras[campo].visibleCheck; then tempTD"></ng-template>
    <ng-template #tempTD>
      <td [ngSwitch]="campo">
        <div *ngSwitchCase="'acciones'">
          <ul class="list-unstyled hstack gap-1 mb-0">
            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" *ngIf="!fila.aperturado">
              <button class="btn btn-sm btn-soft-info" [disabled]="fila.deleted" (click)="editar(fila, modalGeneral)"><i class="mdi mdi-pencil-outline"></i></button>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Aperturar" *ngIf="!fila.aperturado">
              <button class="btn btn-sm btn-primary" [disabled]="fila.deleted" (click)="aperturar(fila, modalGeneral)"><i class="bx bx-lock-open-alt"></i></button>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Cerrar" *ngIf="fila.saldo == 0 && fila.cierre == false">
              <button class="btn btn-sm btn-soft-danger" (click)="cerrar(fila, tabla)"><i class="mdi mdi-lock"></i></button>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Descargos" *ngIf="fila.aperturado && fila.saldo != 0">
              <div class="btn-group" dropdown container="body" [isDisabled]="fila.deleted">
                <button id="button-basic" dropdownToggle type="button" class="btn btn-sm btn-light dropdown-toggle" aria-controls="dropdown-basic">
                  <i class="mdi mdi-cogs"></i><span class="mdi mdi-chevron-down"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu text-center"role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><button class="dropdown-item" (click)="descargos(fila, modalGeneral, 'REND', 'RENDICIÓN')">Rendición <i class="mdi mdi-transfer-down"></i></button></li>
                  <li role="menuitem"><button class="dropdown-item" (click)="descargos(fila, modalGeneral, 'REP','REPOSICIÓN')">Reposición <i class="mdi mdi-restore-alert"></i></button></li>
                  <li role="menuitem"><button class="dropdown-item" (click)="descargos(fila, modalGeneral, 'DEV','DEVOLUCIÓN')">Devolución <i class="mdi mdi-sync"></i></button></li>
                </ul>
              </div>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle fondo" *ngIf="fila.aperturado">
              <button class="btn btn-sm btn-info" (click)="detalleFondo(fila)"><i class="mdi mdi-eye"></i></button>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Habilitar" *ngIf="fila.deleted">
              <a class="btn btn-sm btn-success" (click)="habilitar(fila, tabla, 'habilitar')"><i class="mdi mdi-power"></i></a>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Inhabilitar" *ngIf="!fila.deleted">
              <a  data-bs-toggle="modal" class="btn btn-sm btn-danger" (click)="habilitar(fila, tabla, 'inhabilitar')"><i class="mdi mdi-power"></i></a>
            </li>
          </ul>
        </div>
        <div *ngSwitchCase="'importe'" class="text-center">
          {{fila.importe}}
        </div>
        <div *ngSwitchCase="'saldo'" class="text-center">
          {{fila.saldo}}
        </div>
        <div *ngSwitchCase="'fechaSolicitud'">
          {{fila.fechaSolicitud | fechaSimple}}
        </div>
        <div *ngSwitchCase="'aperturado'" class="text-center">
          <span class="badge font-size-12" style="width: 30px;" [ngClass]="{'bg-success': fila.aperturado, 'bg-danger': !fila.aperturado}">{{fila.aperturado==true ? 'SI' : 'NO'}}</span>
        </div>
        <div *ngSwitchCase="'cierre'" class="text-center">
          <span class="badge font-size-12" style="width: 30px;" [ngClass]="{'bg-success': fila.cierre, 'bg-secondary': !fila.cierre}">{{fila.cierre==true ? 'SI' : 'NO'}}</span>
        </div>
        <div *ngSwitchCase="'estadoIntegracion'">
          {{fila.estadoIntegracion?.nombre }}
        </div>
        <div *ngSwitchCase="'deleted'">
          <span *ngIf="!fila.deleted" class="badge bg-success font-size-10"><i class="mdi mdi-lock-open me-1"></i> Habilitado</span>
          <span *ngIf="fila.deleted" class="badge bg-danger font-size-10"><i class="mdi mdi-lock me-1"></i> Inhabilitado</span>
        </div>
        <div *ngSwitchDefault>
          {{fila[campo]}}
        </div>
      </td>
    </ng-template>
  </ng-template>
</ng-template>

<ng-template #modalGeneral role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"><span *ngIf="descargo">{{tipoTexto | titlecase}}</span>{{titleModal}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close"id="close-modal" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body">
    <app-formulario-operativo #appFormFondoOp [fondo]="fondo" [apertura]="apertura" [descargo]="descargo" [tipoDescargo]="tipoDescargo" (alActualizar)="modalRef.hide(); tabla.obtenerDatos()"></app-formulario-operativo>
  </div>
  <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
      <button type="button" class="btn" [class]="{ 'btn-warning': titleModal == 'Editar', 'btn-success': titleModal != 'Editar'}" (click)="appFormFondoOp.guardar()" >{{titleModal == 'Editar' ? 'Guardar' : 'Registrar' }}</button>
    </div>
  </div>
</ng-template>

