<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="text"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="formrow-firstname-input ">(*)Caja</label>
                    <select class="form-control form-select" id="cajaId" required formControlName="cajaId" name="cajaId" [ngClass]="{ 'is-invalid': submitted && form['cajaId'].errors }">
                    <option *ngFor="let t of caja" value="{{t.id}}"  >{{t.fondo.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['cajaId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['cajaId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['cajaId'].errors['minlength']">Debe tener al menos {{form['cajaId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cajaId'].errors['maxlength']">Debe tener menos de {{form['cajaId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cajaId'].errors['min']">Debe tener mayor o igual que {{form['cajaId'].errors['min']['min']}} </div>
                    <div *ngIf="form['cajaId'].errors['max']">Debe tener menor o igual que {{form['cajaId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="formrow-firstname-input ">(*)Horario</label>
                    <select class="form-control form-select" id="horarioId" required formControlName="horarioId" name="horarioId" [ngClass]="{ 'is-invalid': submitted && form['horarioId'].errors }">
                    <option *ngFor="let t of horarios" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['horarioId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['horarioId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['horarioId'].errors['minlength']">Debe tener al menos {{form['horarioId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['horarioId'].errors['maxlength']">Debe tener menos de {{form['horarioId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['horarioId'].errors['min']">Debe tener mayor o igual que {{form['horarioId'].errors['min']['min']}} </div>
                    <div *ngIf="form['horarioId'].errors['max']">Debe tener menor o igual que {{form['horarioId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">(*)Responsable</label>
                    <select class="form-control form-select" id="responsableId" required formControlName="responsableId" name="responsableId" [ngClass]="{ 'is-invalid': submitted && form['responsableId'].errors }">
                    <option *ngFor="let t of usuarios" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['responsableId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['responsableId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['responsableId'].errors['minlength']">Debe tener al menos {{form['responsableId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['responsableId'].errors['maxlength']">Debe tener menos de {{form['responsableId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['responsableId'].errors['min']">Debe tener mayor o igual que {{form['responsableId'].errors['min']['min']}} </div>
                    <div *ngIf="form['responsableId'].errors['max']">Debe tener menor o igual que {{form['responsableId'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
