<form [formGroup]="formGroup">
  <label class="mb-3 col-12">Los campos marcados con asterisco (*) son obligatorios.</label>
  <div class="nav col-12">
    <div class="mb-3 pb-1 nav col-12" *ngIf="!cuentaContadoMedio">
      <label class="col-5 col-form-label">Seleccione una opción para la configuración : </label>
      <div class="col nav py-2">
        <div class="col-6">
          <div class="form-check form-check">
            <label class="ps-2 form-check-label"> Fondo </label>
            <input type="radio" [(ngModel)]="fondoCuenta" [ngModelOptions]="{standalone: true}" (change)="cambioTipoConfiguracion()" style="transform: scale(1.6);" value="fondo" class="form-check-input" checked>
          </div>
        </div>
        <div class="col-6">
          <div class="ps-2 form-check form-check">
            <label class="form-check-label"> Cuenta Banco </label>
            <input type="radio" [(ngModel)]="fondoCuenta" [ngModelOptions]="{standalone: true}" (change)="cambioTipoConfiguracion()" style="transform: scale(1.6);" value="cuentaBanco" class="form-check-input">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="fondoCuenta == 'cuentaBanco'" class="col-12">
      <div class="mb-3 nav col-12 px-1">
        <label class="col-3 col-form-label">(*) Banco</label>
        <div class="col-9">
          <ng-select class="uppercase" formControlName="bancoId" placeholder="Seleccione un banco" (change)="cambioBanco()" [items]="listaBancos" bindLabel="nombre" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['bancoId'].errors != null }"></ng-select>
          <div *ngIf="submitted && form['bancoId'].errors" class="col-sm-12">
            <div *ngIf="form['bancoId'].errors['required']" class="text-danger mt-1 font-size-10">El banco es obligatorio</div>
          </div>
        </div>
      </div>
      <div class="mb-3 nav col-12 px-1">
        <label class="col-3 col-form-label">(*) Cuenta</label>
        <div class="col-9">
          <ng-select class="uppercase" formControlName="cuentaBancoId" placeholder="Seleccione una cuenta" [items]="listaCuentasBanco" bindLabel="nroCuenta" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['cuentaBancoId'].errors != null }"></ng-select>
          <div *ngIf="submitted && form['cuentaBancoId'].errors" class="col-sm-12">
            <div *ngIf="form['cuentaBancoId'].errors['required']" class="text-danger mt-1 font-size-10">La cuenta es obligatoria</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="fondoCuenta == 'fondo'"  class="col-12">
      <div class="mb-3 nav col-12 px-1">
        <label class="col-3 col-form-label">(*) Fondo Operativo</label>
        <div class="col-9">
          <ng-select class="uppercase" formControlName="fondoOperativoId" placeholder="Seleccione un fondo operativo" [items]="listaFondos" bindLabel="nombre" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['fondoOperativoId'].errors != null }"></ng-select>
          <div *ngIf="submitted && form['fondoOperativoId'].errors" class="col-sm-12">
            <div *ngIf="form['fondoOperativoId'].errors['required']" class="text-danger mt-1 font-size-10">El fondo operativo es obligatorio</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1">
      <label class="col-3 col-form-label">(*) Medio Transferencia</label>
      <div class="col-9">
        <ng-select class="uppercase" formControlName="medioTransferenciaId" placeholder="Seleccione un medio de transferencia" [multiple]="true" [items]="listaMedioTransferencias" bindLabel="medio" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['medioTransferenciaId'].errors != null }"></ng-select>
        <div *ngIf="submitted && form['medioTransferenciaId'].errors" class="col-sm-12">
          <div *ngIf="form['medioTransferenciaId'].errors['required']" class="text-danger mt-1 font-size-10">El medio de transferencia es obligatoria</div>
        </div>
      </div>
    </div>
  </div>
</form>
