<app-page-title  [title]="breadCrumbTitle"[breadcrumbItems]="breadCrumbItems"></app-page-title>
<krn-tabla
  #tabla
  [titulo]="titulo"
  [datosService]="devengadoService"
  [getAll]="getAll"
  [formato]="formato"
  [isSubtable]="rel_prefix ? true : false"
  [templateFila]="undefined"
  [smallTable]="false"
  [softDelete]="false"
  (crearNuevo)="(null)"
  (alCrear)="crear(modalGeneral)"
  (alActualizar)="(null)"
  (alFiltrar)="(null)"
  (alEditar)="(null)"
  campoEstado="estado"
  valueEstado="habilitado"
  [conOpciones]="false"
  [botonExportar]="true"
  [botonImportar]="false"
  [templateFila]="templateFila"

  [idRuta]="id">
</krn-tabla>

<ng-template #templateFila let-fila="fila" let-cabeceras="cabeceras" >
  <ng-template ngFor let-campo [ngForOf]="cabeceras">
    <ng-template *ngIf="formato.cabeceras[campo].visibleCheck; then tempTD"></ng-template>
    <ng-template #tempTD>
      <td [ngSwitch]="campo">
        <div *ngSwitchCase="'acciones'">
            <ul class="list-unstyled hstack gap-1 mb-0">
              <li data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" *ngIf="!fila.anticipo" >
                <button class="btn btn-sm btn-soft-info" [disabled]="fila.deleted" (click)="editar(fila, modalGeneral)"><i class="mdi mdi-pencil-outline"></i></button>
              </li>
                         
            </ul>
        </div>
        
        <div *ngSwitchCase="'estado'">
            <div *ngIf="!fila.deleted" class="badge bg-success font-size-10"><i class="mdi mdi-lock-open me-1"></i> Habilitado</div>
            <div *ngIf="fila.deleted" class="badge bg-danger font-size-10"><i class="mdi mdi-lock me-1"></i> Inhabilitado</div>
        </div>
        <div *ngSwitchCase="'centroCosto'">
            {{fila.centroCosto.nombre}}
          </div>
        <div *ngSwitchCase="'entidadReferencial'">
            {{fila.entidadReferencial.entidad.nombre}}
          </div>
          <div *ngSwitchCase="'fecha'">
            {{fila.fecha | date:"dd-MM-yyyy" }}  <!--  fechasimple (pipe) -->
          </div>
          <div *ngSwitchCase="'monto'" class="text-end">
            {{fila.monto }}  
          </div>

        <div *ngSwitchDefault>
            <td>{{fila[campo]}}</td>
        </div>
      </td>
    </ng-template>
  </ng-template>
</ng-template>


<ng-template #modalGeneral role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">  {{titleModal}} Devengado</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"aria-label="Close"id="close-modal" (click)="cerrarModal()" ></button>
  </div>
  <div class="modal-body">
    <app-formulario #appFormDevengado  [devengado]="devengado" (alActualizar)="modalRef.hide(); tabla.obtenerDatos()" (alGuardar)="modalRef.hide(); tabla.obtenerDatos()"></app-formulario>
  </div>
  <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
      <button type="button" class="btn btn-success" (click)="appFormDevengado.guardar()" >Registrar</button>
    </div>
  </div>
</ng-template>

