<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="number"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">Tipo de entidad</label>
                    <select class="form-control form-select" id="tipoEntidadId"  formControlName="tipoEntidadId" name="tipoEntidadId" [ngClass]="{ 'is-invalid': submitted && form['tipoEntidadId'].errors }">
                    <option *ngFor="let t of tipo_entidad" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['tipoEntidadId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['tipoEntidadId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['tipoEntidadId'].errors['minlength']">Debe tener al menos {{form['tipoEntidadId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipoEntidadId'].errors['maxlength']">Debe tener menos de {{form['tipoEntidadId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipoEntidadId'].errors['min']">Debe tener mayor o igual que {{form['tipoEntidadId'].errors['min']['min']}} </div>
                    <div *ngIf="form['tipoEntidadId'].errors['max']">Debe tener menor o igual que {{form['tipoEntidadId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">Entidad</label>
                    <select class="form-control form-select" id="entidadId"  formControlName="entidadId" name="entidadId" [ngClass]="{ 'is-invalid': submitted && form['entidadId'].errors }">
                    <option *ngFor="let t of entidades" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['entidadId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['entidadId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['entidadId'].errors['minlength']">Debe tener al menos {{form['entidadId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['entidadId'].errors['maxlength']">Debe tener menos de {{form['entidadId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['entidadId'].errors['min']">Debe tener mayor o igual que {{form['entidadId'].errors['min']['min']}} </div>
                    <div *ngIf="form['entidadId'].errors['max']">Debe tener menor o igual que {{form['entidadId'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
