<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="number"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Fecha </label>
                    <input type="date"  class="form-control uppercase" id="fecha" (click)="alCambiar(form)"  formControlName="fecha" [ngClass]="{ 'is-invalid': submitted && form['fecha'].errors }">
                    <div *ngIf="submitted && form['fecha'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['fecha'].errors['required']">Es requerido</div>
                    <div *ngIf="form['fecha'].errors['minlength']">Debe tener al menos {{form['fecha'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fecha'].errors['maxlength']">Debe tener menos de {{form['fecha'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fecha'].errors['min']">Debe tener mayor o igual que {{form['fecha'].errors['min']['min']}} </div>
                    <div *ngIf="form['fecha'].errors['max']">Debe tener menor o igual que {{form['fecha'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">Crédito</label>
                    <select class="form-control form-select" id="credito_id"  formControlName="credito_id" name="credito_id" [ngClass]="{ 'is-invalid': submitted && form['credito_id'].errors }">
                    <option *ngFor="let t of credito" value="{{t.id}}"  >{{t.id}} </option>
                    </select>
                    <div *ngIf="submitted && form['credito_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['credito_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['credito_id'].errors['minlength']">Debe tener al menos {{form['credito_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['credito_id'].errors['maxlength']">Debe tener menos de {{form['credito_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['credito_id'].errors['min']">Debe tener mayor o igual que {{form['credito_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['credito_id'].errors['max']">Debe tener menor o igual que {{form['credito_id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">Estado de Crédito</label>
                    <select class="form-control form-select" id="estado_credito_id"  formControlName="estado_credito_id" name="estado_credito_id" [ngClass]="{ 'is-invalid': submitted && form['estado_credito_id'].errors }">
                    <option *ngFor="let t of estado_credito" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['estado_credito_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['estado_credito_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['estado_credito_id'].errors['minlength']">Debe tener al menos {{form['estado_credito_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['estado_credito_id'].errors['maxlength']">Debe tener menos de {{form['estado_credito_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['estado_credito_id'].errors['min']">Debe tener mayor o igual que {{form['estado_credito_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['estado_credito_id'].errors['max']">Debe tener menor o igual que {{form['estado_credito_id'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
