<app-page-title title="{{titulo}}" [breadcrumbItems]="breadCrumbItems" />
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card mb-0">
        <app-header-content [titulo]="tituloLista" (nuevo)="crearAnticipo(nuevoAnticipo)"
          (refrescar)="tabla.refrescar()"></app-header-content>
      </div>
    </div>
  </div>
</div>

<app-tabla-new
  #tabla
  [smallTable]="false"
  [conOpciones]="false"
  [formato]="formato"
  [datosService]="_pagosVariosService"
  getAll="getAll"
  [templateFila]="templateFila"
  [botonNuevo]="false"
  [btnRefrescar] = "false"
  [textoBuscar]="'Descripción'"
></app-tabla-new>

<ng-template #templateFila let-fila="fila" let-cabeceras="cabeceras">
  <ng-template ngFor let-campo [ngForOf]="cabeceras">
    <ng-template
      *ngIf="formato.cabeceras[campo].visibleCheck; then tempTD"
    ></ng-template>
    <ng-template #tempTD>
      <td [ngSwitch]="campo">
        <div *ngSwitchCase="'acciones'">
          <!--<button
            class="btn btn-sm btn-warning me-2"
            tooltip="Devolucion"
            [disabled]="fila['saldo'] == 0"
           (click)="realizarDevolucion(devolucionAnticipo, fila)" >
            <i class="mdi mdi-keyboard-backspace"></i>
          </button>-->
          <button class="btn btn-sm btn-warning" (click)="descargarComprobante(fila.id)" tooltip="Imprimir Comprobante">
            <i class="mdi mdi-download"></i>
          </button>

        </div>
        <div *ngSwitchCase="'proveedor'">
          {{ fila["cliente"]["razonSocial"] }}
        </div>

        <div *ngSwitchCase="'centroCosto'">
          {{ fila.centroCosto.nombre }}
        </div>
        <div *ngSwitchCase="'descripcion'">
          {{ fila.descripcion }}
        </div>
        <div *ngSwitchCase="'nombreCuenta'">
          {{ fila.codigoCuenta }}-{{ fila.nombreCuenta }}
        </div>
        <div *ngSwitchCase="'tipo'">
          {{ fila.tipoOtroPago?.nombre }}
        </div>
        <div *ngSwitchCase="'fecha'">
          {{ fila.fechaPago | fechaFormat }}
        </div>
        <div
          class="text-end"
          *ngSwitchCase="'monto'"
          [ngClass]="fila['monto'] >= 0 ? 'text-success' : 'text-danger'"
        >
          {{ fila["monto"] | decimalAmount }}
        </div>
        <div
          class="text-end"
          *ngSwitchCase="'saldo'"
          [ngClass]="fila['saldo'] >= 0 ? 'text-success' : 'text-danger'"
        >
          {{ fila["saldo"] | decimalAmount }}
        </div>
        <div *ngSwitchDefault>
          <td>{{ fila[campo] }}</td>
        </div>
      </td>
    </ng-template>
  </ng-template>
</ng-template>

<ng-template #nuevoAnticipo>
  <app-pagos-varios-form
    [type]="type"
    [label]="label"
    [data]="data"
    [title]="titleCustom"
    (cerrarModal)="modalRef.hide(); tabla.obtenerDatos()"
    (alActualizar)="modalRef.hide(); tabla.obtenerDatos()"
  ></app-pagos-varios-form>
</ng-template>
