<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">(*)id </label>
                    <input type="text"  class="form-control uppercase" id="id" (click)="alCambiar(form)" required formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">(*)Usuario </label>
                    <input type="text"  class="form-control uppercase" id="nombre" (click)="alCambiar(form)" required formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors }">
                    <div *ngIf="submitted && form['nombre'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['nombre'].errors['required']">Es requerido</div>
                    <div *ngIf="form['nombre'].errors['minlength']">Debe tener al menos {{form['nombre'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombre'].errors['maxlength']">Debe tener menos de {{form['nombre'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombre'].errors['min']">Debe tener mayor o igual que {{form['nombre'].errors['min']['min']}} </div>
                    <div *ngIf="form['nombre'].errors['max']">Debe tener menor o igual que {{form['nombre'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">(*)Nombre Completo </label>
                    <input type="text"  class="form-control uppercase" id="nombrecompleto" (click)="alCambiar(form)" required formControlName="nombrecompleto" [ngClass]="{ 'is-invalid': submitted && form['nombrecompleto'].errors }">
                    <div *ngIf="submitted && form['nombrecompleto'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['nombrecompleto'].errors['required']">Es requerido</div>
                    <div *ngIf="form['nombrecompleto'].errors['minlength']">Debe tener al menos {{form['nombrecompleto'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombrecompleto'].errors['maxlength']">Debe tener menos de {{form['nombrecompleto'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombrecompleto'].errors['min']">Debe tener mayor o igual que {{form['nombrecompleto'].errors['min']['min']}} </div>
                    <div *ngIf="form['nombrecompleto'].errors['max']">Debe tener menor o igual que {{form['nombrecompleto'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Cargo </label>
                    <input type="text"  class="form-control uppercase" id="cargo" (click)="alCambiar(form)"  formControlName="cargo" [ngClass]="{ 'is-invalid': submitted && form['cargo'].errors }">
                    <div *ngIf="submitted && form['cargo'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['cargo'].errors['required']">Es requerido</div>
                    <div *ngIf="form['cargo'].errors['minlength']">Debe tener al menos {{form['cargo'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cargo'].errors['maxlength']">Debe tener menos de {{form['cargo'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cargo'].errors['min']">Debe tener mayor o igual que {{form['cargo'].errors['min']['min']}} </div>
                    <div *ngIf="form['cargo'].errors['max']">Debe tener menor o igual que {{form['cargo'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">UID (Keycloak) </label>
                    <input type="number"  class="form-control uppercase" id="uid" (click)="alCambiar(form)"  formControlName="uid" [ngClass]="{ 'is-invalid': submitted && form['uid'].errors }">
                    <div *ngIf="submitted && form['uid'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['uid'].errors['required']">Es requerido</div>
                    <div *ngIf="form['uid'].errors['minlength']">Debe tener al menos {{form['uid'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['uid'].errors['maxlength']">Debe tener menos de {{form['uid'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['uid'].errors['min']">Debe tener mayor o igual que {{form['uid'].errors['min']['min']}} </div>
                    <div *ngIf="form['uid'].errors['max']">Debe tener menor o igual que {{form['uid'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
