<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="text"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Fecha </label>
                    <input type="date"  class="form-control uppercase" id="fecha" (click)="alCambiar(form)"  formControlName="fecha" [ngClass]="{ 'is-invalid': submitted && form['fecha'].errors }">
                    <div *ngIf="submitted && form['fecha'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['fecha'].errors['required']">Es requerido</div>
                    <div *ngIf="form['fecha'].errors['minlength']">Debe tener al menos {{form['fecha'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fecha'].errors['maxlength']">Debe tener menos de {{form['fecha'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fecha'].errors['min']">Debe tener mayor o igual que {{form['fecha'].errors['min']['min']}} </div>
                    <div *ngIf="form['fecha'].errors['max']">Debe tener menor o igual que {{form['fecha'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Aprobación </label><br>
                    <input type="checkbox" class="form-check-input uppercase" id="aprobacion"  (click)="alCambiar(form)" formControlName="aprobacion" [ngClass]="{ 'is-invalid': submitted && form['aprobacion'].errors }">
                    <div *ngIf="submitted && form['aprobacion'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['aprobacion'].errors['required']">Es requerido</div>
                    <div *ngIf="form['aprobacion'].errors['minlength']">Debe tener al menos {{form['aprobacion'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['aprobacion'].errors['maxlength']">Debe tener menos de {{form['aprobacion'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['aprobacion'].errors['min']">Debe tener mayor o igual que {{form['aprobacion'].errors['min']['min']}} </div>
                    <div *ngIf="form['aprobacion'].errors['max']">Debe tener menor o igual que {{form['aprobacion'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Estado </label>
                    <input type="text"  class="form-control uppercase" id="estado" (click)="alCambiar(form)"  formControlName="estado" [ngClass]="{ 'is-invalid': submitted && form['estado'].errors }">
                    <div *ngIf="submitted && form['estado'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['estado'].errors['required']">Es requerido</div>
                    <div *ngIf="form['estado'].errors['minlength']">Debe tener al menos {{form['estado'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['estado'].errors['maxlength']">Debe tener menos de {{form['estado'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['estado'].errors['min']">Debe tener mayor o igual que {{form['estado'].errors['min']['min']}} </div>
                    <div *ngIf="form['estado'].errors['max']">Debe tener menor o igual que {{form['estado'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <app-selector-add #tipo_solicitudSelector  label="Tipo de solicitud" [campoNombre]="'nombre'" [campoValor]="'id'" [templateEditar]="tipo_solicitudTemplateEditar" [templateNuevo]="tipo_solicitudTemplateNuevo" name="tipoSolicitudId" [submitted]="submitted" [dataArray]="tipo_solicitud" formControlName="tipoSolicitudId"  ></app-selector-add>
                    <ng-template #tipo_solicitudTemplateNuevo>
                        <app-formulario-tiposolicitud [esModal]="true" (alGuardar)="cargarArrays();tipo_solicitudSelector.close()" ></app-formulario-tiposolicitud>
                    </ng-template>
                    <ng-template #tipo_solicitudTemplateEditar>
                        <app-formulario-tiposolicitud [esModal]="true" [show_rel]="false" [dataEdit]="getDataFromFormname(tipo_solicitud, 'tipoSolicitudId')" (alActualizar)="tipo_solicitudSelector.close();setDataFromFormname(tipo_solicitud, 'tipoSolicitudId',$event)" ></app-formulario-tiposolicitud>
                    </ng-template>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">Centro de Costos</label>
                    <select class="form-control form-select" id="centrodecostosId"  formControlName="centrodecostosId" name="centrodecostosId" [ngClass]="{ 'is-invalid': submitted && form['centrodecostosId'].errors }">
                    <option *ngFor="let t of centrodecostos" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['centrodecostosId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['centrodecostosId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['centrodecostosId'].errors['minlength']">Debe tener al menos {{form['centrodecostosId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['centrodecostosId'].errors['maxlength']">Debe tener menos de {{form['centrodecostosId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['centrodecostosId'].errors['min']">Debe tener mayor o igual que {{form['centrodecostosId'].errors['min']['min']}} </div>
                    <div *ngIf="form['centrodecostosId'].errors['max']">Debe tener menor o igual que {{form['centrodecostosId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <app-selector-add #contactoSelector  label="Solicitante" [campoNombre]="'nombre'" [campoValor]="'id'" [templateEditar]="contactoTemplateEditar" [templateNuevo]="contactoTemplateNuevo" name="solicitanteId" [submitted]="submitted" [dataArray]="contacto" formControlName="solicitanteId"  ></app-selector-add>
                    <ng-template #contactoTemplateNuevo>
                        <app-formulario-contacto [esModal]="true" (alGuardar)="cargarArrays();contactoSelector.close()" ></app-formulario-contacto>
                    </ng-template>
                    <ng-template #contactoTemplateEditar>
                        <app-formulario-contacto [esModal]="true" [show_rel]="false" [dataEdit]="getDataFromFormname(contacto, 'solicitanteId')" (alActualizar)="contactoSelector.close();setDataFromFormname(contacto, 'solicitanteId',$event)" ></app-formulario-contacto>
                    </ng-template>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
