<div class="container-fluid">
  <div class="card card-body" *ngIf="fondo">
    <h5 class="card-title mb-3 pb-3 border-bottom">Detalle de Fondo a Rendir</h5>
    <div class="nav col-12 border-bottom" >
      <div class="col-4 mb-2 px-1">
        <p class="ps-2">
          <span class="fw-semibold semi" >Nombre:</span>
          <span class="text-primary"> {{fondo.nombre}}</span>
        </p>
      </div>
      <div class="col-4 mb-3 px-1">
        <p class="ps-2">
          <span class="fw-semibold semi" >Nro de Solicitud:</span>
          <span class="text-primary"> {{fondo.nroSolicitud}}</span>
        </p>
      </div>
      <div class="col-4 mb-3 px-1">
        <p class="ps-2">
          <span class="fw-semibold semi" >Fecha de Solicitud:</span>
          <span class="text-primary"> {{fondo.fechaSolicitud | fechaSimple}}</span>
        </p>
      </div>
      <div class="col-4 mb-3 px-1">
        <p class="ps-2">
          <span class="fw-semibold semi" >Descripción:</span>
          <span class="text-primary"> {{fondo.descripcion}}</span>
        </p>
      </div>
      <div class="col-4 mb-3 px-1">
        <p class="ps-2">
          <span class="fw-semibold semi" >Monto de Solicitud:</span>
          <span class="text-primary"> {{fondo.importe}}</span>
        </p>
      </div>
      <div class="col-4 mb-3 px-1">
        <p class="ps-2">
          <span class="fw-semibold semi" >Responsable:</span>
          <span class="text-primary"> {{fondo.reponsable}}</span>
        </p>
      </div>
    </div>
    <div class="col-12">
      <krn-tabla
        #tabla
        [titulo]="titulo"
        [datosService]="detalleFondoRendirService"
        getAll="getDetalleFondo"
        [formato]="formato"
        [textoBuscar]="textoBuscar"
        [isSubtable]="rel_prefix ? true : false"
        [templateFila]="undefined"
        [smallTable]="false"
        [softDelete]="false"
        (crearNuevo)="(null)"
        (alCrear)="null"
        (alActualizar)="(null)"
        (alFiltrar)="(null)"
        (alEditar)="null"
        campoEstado="estado"
        valueEstado="habilitado"
        (alHabilitar)="null"
        (alDeshabilitar)="null"
        (alEliminar)="null"
        [conOpciones]="false"
        [botonExportar]="false"
        [botonImportar]="false"
        [botonNuevo]="false"
        [templateFila]="templateFila"
        [idRuta]="id">
      </krn-tabla>

      <ng-template #templateFila let-fila="fila" let-cabeceras="cabeceras" >
        <ng-template ngFor let-campo [ngForOf]="cabeceras">
          <ng-template *ngIf="formato.cabeceras[campo].visibleCheck; then tempTD"></ng-template>
          <ng-template #tempTD>
            <td [ngSwitch]="campo">
              <div *ngSwitchCase="'acciones'">
                  <ul class="list-unstyled hstack gap-1 mb-0">
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                      <button class="btn btn-sm btn-info" ><i class="mdi mdi-eye"></i></button>
                    </li>
                   <!--  <li data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                      <button class="btn btn-sm btn-soft-info" [disabled]="fila.deleted" (click)="editar(fila, modalEditar)"><i class="mdi mdi-pencil-outline"></i></button>
                    </li>
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Habilitar" *ngIf="fila.deleted">
                      <a class="btn btn-sm btn-success" (click)="habilitar(fila, tabla, 'habilitar')"><i class="mdi mdi-power"></i></a>
                    </li>
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Inhabilitar" *ngIf="!fila.deleted">
                      <a  data-bs-toggle="modal" class="btn btn-sm btn-danger" (click)="habilitar(fila, tabla, 'inhabilitar')"><i class="mdi mdi-power"></i></a>
                    </li> -->
                  </ul>
              </div>
              <div *ngSwitchCase="'fechaMovimiento'">
                {{fila.fechaMovimiento | fechaSimple}}
              </div>
              <div *ngSwitchCase="'monto'" class="text-end">
                {{fila.monto}}
              </div>
              <div *ngSwitchCase="'centroCosto'">
                {{fila.centroCosto.nombre}}
              </div>
              <div *ngSwitchCase="'estadoFondo'">
                {{fila.estadoFondo.nombre}}
              </div>
              <div *ngSwitchCase="'estadoContabilidad'">
                {{fila.estadoContabilidad?.nombre }}
              </div>
              <div *ngSwitchCase="'estado'">
                <div *ngIf="!fila.deleted" class="badge bg-success font-size-10"><i class="mdi mdi-lock-open me-1"></i> Habilitado</div>
                <div *ngIf="fila.deleted" class="badge bg-danger font-size-10"><i class="mdi mdi-lock me-1"></i> Inhabilitado</div>
              </div>
              <div *ngSwitchDefault>
                {{fila[campo]}}
              </div>
            </td>
          </ng-template>
        </ng-template>
      </ng-template>

      <div class="row">
        <div class="nav justify-content-end">
          <button type="button" class="btn btn-light" (click)="regresar()">Regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
