<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">



                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="number"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">Fondo</label>
                    <select class="form-control form-select" id="fondo_id"  formControlName="fondo_id" name="fondo_id" [ngClass]="{ 'is-invalid': submitted && form['fondo_id'].errors }">
                    <option *ngFor="let t of fondo" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['fondo_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['fondo_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['fondo_id'].errors['minlength']">Debe tener al menos {{form['fondo_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fondo_id'].errors['maxlength']">Debe tener menos de {{form['fondo_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fondo_id'].errors['min']">Debe tener mayor o igual que {{form['fondo_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['fondo_id'].errors['max']">Debe tener menor o igual que {{form['fondo_id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <app-selector-add #forma_cobroSelector  label="Forma de Cobro" [templateEditar]="forma_cobroTemplateEditar" [templateNuevo]="forma_cobroTemplateNuevo" name="forma_cobro_id" [submitted]="submitted" [dataArray]="forma_cobro" formControlName="forma_cobro_id"  ></app-selector-add>
                    <ng-template #forma_cobroTemplateNuevo>
                        <app-formulario-formacobro [esModal]="true" (alGuardar)="forma_cobro.push(arrayToSingle($event['content']));form['forma_cobro_id'].setValue(arrayToSingle($event['content'])['id']);forma_cobroSelector.close()" ></app-formulario-formacobro>
                    </ng-template>
                    <ng-template #forma_cobroTemplateEditar>
                        <app-formulario-formacobro [esModal]="true" [show_rel]="false" [dataEdit]="getDataFromFormname(forma_cobro, 'forma_cobro_id')" (alActualizar)="forma_cobroSelector.close();setDataFromFormname(forma_cobro, 'forma_cobro_id',$event)" ></app-formulario-formacobro>
                    </ng-template>
                </div>

            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
