<app-page-title
  [title]="breadCrumbTitle"
  [breadcrumbItems]="breadCrumbItems"
></app-page-title>

<krn-tabla
  #tabla
  [titulo]="titulo"
  [datosService]="BancoService"
  getAll="getAll"
  [formato]="formato"
  [isSubtable]="rel_prefix ? true : false"
  [templateFila]="undefined"
  [smallTable]="false"
  [softDelete]="false"
  (crearNuevo)="(null)"
  (alCrear)="crear($event, modalNuevo)"
  (alActualizar)="(null)"
  (alFiltrar)="(null)"
  (alEditar)="editar($event, modalEditar)"
  campoEstado="estado"
  valueEstado="habilitado"
  (alHabilitar)="habilitar($event, tabla)"
  (alDeshabilitar)="deshabilitar($event, tabla)"
  (alEliminar)="eliminar($event, tabla)"
  [conOpciones]="true"
  [botonExportar]="true"
  [botonImportar]="false"
>
</krn-tabla>

<ng-template #modalNuevo role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Registar Nuevo {{titulo}}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      id="close-modal"
      (click)="modalRef.hide()"
    ></button>
  </div>
  <app-formulario-banco
    [esModal]="true"
    [rel_prefix]="rel_prefix"
    [rel_field]="rel_field"
    [rel_id]="rel_id"
    (alGuardar)="modalRef.hide(); tabla.obtenerDatos()"
  >
  </app-formulario-banco>
</ng-template>

<ng-template #modalEditar role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Editar {{titulo}} - {{ dataEdit.nombre }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      id="close-modal"
      (click)="modalRef.hide()"
    ></button>
  </div>
  <app-formulario-banco
    [esModal]="true"
    [rel_prefix]="rel_prefix"
    [rel_field]="rel_field"
    [rel_id]="rel_id"
    [dataEdit]="dataEdit"
    (alActualizar)="modalRef.hide(); tabla.obtenerDatos()"
  >
  </app-formulario-banco>
</ng-template>
