<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="number"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-8 ">
                    <label for="nombre">(*)Moneda </label>
                    <input type="text"  class="form-control uppercase" id="nombre" (click)="alCambiar(form)" required formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors }">
                    <div *ngIf="submitted && form['nombre'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['nombre'].errors['required']">Es requerido</div>
                    <div *ngIf="form['nombre'].errors['minlength']">Debe tener al menos {{form['nombre'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombre'].errors['maxlength']">Debe tener menos de {{form['nombre'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombre'].errors['min']">Debe tener mayor o igual que {{form['nombre'].errors['min']['min']}} </div>
                    <div *ngIf="form['nombre'].errors['max']">Debe tener menor o igual que {{form['nombre'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Sigla </label>
                    <input type="text"  class="form-control uppercase" id="sigla" (click)="alCambiar(form)" required formControlName="sigla" [ngClass]="{ 'is-invalid': submitted && form['sigla'].errors }">
                    <div *ngIf="submitted && form['sigla'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['sigla'].errors['required']">Es requerido</div>
                    <div *ngIf="form['sigla'].errors['minlength']">Debe tener al menos {{form['sigla'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['sigla'].errors['maxlength']">Debe tener menos de {{form['sigla'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['sigla'].errors['min']">Debe tener mayor o igual que {{form['sigla'].errors['min']['min']}} </div>
                    <div *ngIf="form['sigla'].errors['max']">Debe tener menor o igual que {{form['sigla'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
