<table class="table">
	<thead>
		<tr>
			<th [width]="'6%'" class="text-center no-include-in-screenshot">
				Acciones
			</th>
			<th class="text-center">N°</th>
			<th class="text-start">Medio Transferencia</th>
			<th>Caja/Banco</th>
			<th>Cuenta</th>
			<th class="text-end">Monto</th>
		</tr>
	</thead>
	<tbody>
		<tr
			*ngFor="
				let rowTransferMediumData of transferMediumList;
				let index = index
			"
			[ngClass]="{ 'bg-danger bg-opacity-10': rowTransferMediumData.errorRow }"
		>
			<td [width]="'10%'" class="no-include-in-screenshot">
				<div class="btn-toolbar d-flex justify-content-center" role="toolbar">
					<div class="btn-group me-2" role="group">
						<button
							type="button"
							class="btn btn-sm btn-danger"
							ngbPopover="Quitar de la lista."
							placement="right"
							triggers="hover"
							(click)="removeTransferMediumItem(index)"
						>
							<i class="mdi mdi-close"></i>
						</button>
					</div>
				</div>
			</td>
			<td [ngClass]="'td-vertical-center text-center'" [width]="'5%'">
				{{ index + 1 }}
			</td>
			<td [width]="'20%'">
				<ng-select
					[(ngModel)]="rowTransferMediumData.medioTransferenciaId"
					placeholder="SELECCIONE UN MEDIO DE TRANSFERENCIA"
					class="uppercase"
					[items]="transferMediumDataSelect"
					bindLabel="medio"
					bindValue="id"
					appendTo="#accountFormModalBodyDiv"
					(change)="onChangeTransferMediumSelect(rowTransferMediumData)"
					(clear)="resetTransferMediumCurrentOptions(rowTransferMediumData)"
				/>
			</td>
			<td [width]="'20%'">
				<div *ngIf="rowTransferMediumData.tipoMedioTransferencia">
					<ng-select
						*ngIf="rowTransferMediumData.tipoMedioTransferencia === 'CUENTA'"
						[(ngModel)]="rowTransferMediumData.bancoId"
						placeholder="SELECCIONE UN BANCO"
						class="uppercase"
						[items]="rowTransferMediumData.bankDataSelect"
						bindLabel="nombre"
						bindValue="id"
						appendTo="#accountFormModalBodyDiv"
						(change)="onChangeBankIdSelect(rowTransferMediumData)"
						(clear)="resetBankCurrentOptions(rowTransferMediumData)"
					/>
					<ng-select
						*ngIf="rowTransferMediumData.tipoMedioTransferencia === 'CAJA'"
						[(ngModel)]="rowTransferMediumData.cajaId"
						placeholder="SELECCIONE CAJA"
						class="uppercase"
						[items]="rowTransferMediumData.cashDataSelect"
						bindLabel="nombre"
						bindValue="id"
						appendTo="#accountFormModalBodyDiv"
						(change)="onChangeCashIdSelect(rowTransferMediumData)"
						(clear)="resetCashCurrentOptions(rowTransferMediumData)"
					/>
				</div>
			</td>
			<td [ngClass]="'td-vertical-center'" [width]="'20%'">
				<div
					*ngIf="
						rowTransferMediumData.tipoMedioTransferencia &&
						rowTransferMediumData.bancoId
					"
				>
					<span
						*ngIf="rowTransferMediumData.tipoMedioTransferencia === 'CAJA'"
						class="ms-2"
					>
						N/A
					</span>
					<ng-select
						*ngIf="rowTransferMediumData.tipoMedioTransferencia === 'CUENTA'"
						[(ngModel)]="rowTransferMediumData.cuentaId"
						placeholder="SELECCIONE UNA CUENTA"
						class="uppercase"
						[items]="rowTransferMediumData.accountBelongingBankDataSelect"
						bindLabel="nroCuenta"
						bindValue="id"
						appendTo="#accountFormModalBodyDiv"
						(change)="onChangeAccountIdSelect(rowTransferMediumData)"
						(clear)="resetAccountCurrentOptions(rowTransferMediumData)"
					/>
				</div>
			</td>
			<td [width]="'20%'">
				<input
					*ngIf="
						(rowTransferMediumData.tipoMedioTransferencia === 'CAJA' &&
							rowTransferMediumData.cajaId) ||
						(rowTransferMediumData.tipoMedioTransferencia === 'CUENTA' &&
							rowTransferMediumData.cuentaId)
					"
					[(ngModel)]="rowTransferMediumData.montoTransferir"
					type="text"
					class="form-control text-end"
					placeholder="SALDO A TRANSFERIR"
					(keypress)="onKeyPressTransferAmount($event)"
					(input)="onInputTransferAmount($event, rowTransferMediumData)"
				/>
			</td>
		</tr>
	</tbody>
</table>
