<app-page-title title="Saldos Iniciales" [breadcrumbItems]="breadCrumbItems" />

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">


      <div class="row mt-3 mb-3 me-3">
        <div class="col-md-4 border-end">
<!--           <div class="hstack gap-2 justify-content-center"> -->
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0 me-3">
                 <i class="mdi mdi-comma-box font-size-25"></i>
              </div>
              <div class="flex-grow-1 align-self-center">
                  <div class="text-muted">
                      <h5>Tipo Inicialización</h5>
                      <p class="mb-0">Seleccione la inicializacion deseada</p>
                  </div>
                  <ng-select
                  class="col-10"
                  [items]="arrayTypeInitialization"
                  bindLabel="label"
                  bindValue="value"
                  (change)="selectypeInitialization($event)"
                  [(ngModel)]="selectInicializacion">
                </ng-select>
              </div>
          </div>
<!--           </div> -->
        </div>
        <div class="col-md-4 border-end"  *ngIf="optionListInitialization?.length>0">
          <div class="text-muted" *ngIf="optionListInitialization?.length>0">
            <p class="mb-0">{{selectLabel}}</p>
            <small class="mb-0 mt-0">Inicializar con:</small>
          </div>
          <div *ngFor="let data of optionListInitialization">
            <div class="form-check form-radio-primary ms-4 mt-2">
              <input
                class="form-check-input"
                type="radio"
                name="option"
                style="transform: scale(1.5)"
                [value]="data['label']"
                (change)="selectFinalOption(data['code'])"
                >
              <p class="text-muted mb-1">{{data['label']}}</p>
            </div>
          </div>
        </div>
        <div [ngClass]="optionListInitialization == undefined ? 'col-md-7': 'col-md-4'">
          <div class="row mt-3 mb-3 me-3" [ngClass]="!optionFinalSelect ? 'disabled-butons':''">
            <div class="hstack gap-2 justify-content-center">

                <button
                  type="button"
                  class="btn btn-info btn-rounded"
                  data-bs-dismiss="modal"
                  (click)="accionDescargar()"
                >
                  Descargar Plantilla
                </button>

                <button
                  type="button"
                  class="btn btn-success btn-rounded"
                  (click)="accionImportar()"
                >
                  Importar Datos
                </button>

            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
      <ng-container [ngSwitch]="optionFinalSelect">
        <ng-template
          *ngSwitchCase="'ANT_CLIENTE'"
          [ngTemplateOutlet]="ini_cliente_template"
        />
        <ng-template
          *ngSwitchCase="'COB_CLIENTE'"
          [ngTemplateOutlet]="ini_cliente_template"
        />
        <ng-template
          *ngSwitchCase="'ANT_PROVEEDOR'"
          [ngTemplateOutlet]="ini_provider_template"
        />
        <ng-template
          *ngSwitchCase="'CRED_PROVEEDOR'"
          [ngTemplateOutlet]="ini_provider_template"
        />
        <ng-template
          *ngSwitchCase="'FR'"
          [ngTemplateOutlet]="ini_fondorendir_template"
        />

      </ng-container>
      <ng-template #ini_cliente_template>
        <div *ngIf="optionFinalSelect && (importarDescargar == true || importarDescargar == false)">
          <app-ini-cliente
          [codeCliente]="optionFinalSelect"
          [importarDescargar]="importarDescargar"
          ></app-ini-cliente>
        </div>
      </ng-template>
      <ng-template #ini_provider_template>
        <div *ngIf="optionFinalSelect && (importarDescargar == true || importarDescargar == false)">
          <app-ini-proveedor
          [codeProveedor]="optionFinalSelect"
          [importarDescargar]="importarDescargar"
          ></app-ini-proveedor>
        </div>
      </ng-template>

      <ng-template #ini_fondorendir_template>
        <div *ngIf="optionFinalSelect && (importarDescargar == true || importarDescargar == false)">
          <app-ini-fondo-rendir
          [importarDescargar]="importarDescargar"
          ></app-ini-fondo-rendir>
        </div>
      </ng-template>

      </div>
    </div>
  </div>
</div>
