<div id="accountFormModalBodyDiv">
  <div class="col-xl-12 border-bottom p-4 pb-2">
      <div class="float-end ms-2">
        <h6 class="fs-14 mb-0 ms-1 text-secondary fw-bold">MOVIMIENTOS DEL FONDO</h6>
      </div>
      <div class="d-flex">
        <div class="flex-grow-1 align-self-center">
            <div class="text-muted">
                <h5 class="mb-2">{{dataFondo['nombre']}}</h5>
                <p class="mb-1">Responsable: {{dataFondo['empleado']['nitCi']}} - {{dataFondo['empleado']['nombre']}}</p>
                <p class="mb-0 fw-medium">Monto apertura: {{dataFondo['montoApertura']}}</p>
            </div>
        </div>
    </div>
  </div>

  <div class="row mt-1 mb-0 m-3">
    <div class="card">
      <div class="card-body">
        <div style="cursor: pointer;">
          <h5 class="fs-14 mb-2 ms-1 fw-bold"
            [ngClass]="filtrosView?'text-primary':'text-secondary'"
            (click)="verFiltros()">
            <i class="mdi font-size-16"
            [ngClass]="filtrosView? 'mdi-filter-plus':'mdi-filter-minus-outline'"></i>
            Filtros
          </h5>
        </div>
        <ng-template *ngIf="filtrosView; then filtrosMovimientos"/>
      </div>
    </div>
  </div>

  <ng-template *ngIf="movimientosList.length ==0; then sinRegistos else dataTable"/>
  <ng-template #sinRegistos>
    <span class="badge bg-warning font-size-12 ms-4">
      El fondo operativo no cuenta con movimientos.
    </span>
  </ng-template>
  <ng-template #dataTable>

    <div class="row pt-0 p-3">
      <div class="table-responsive">
        <table class="table table-sm m-0">
          <thead>
            <tr>
              <th>Acciones</th>
              <th>Estado fondo</th>
              <th>Fecha</th>
              <th>Centro de costos</th>
              <th>Nº Referencia</th>
              <th class="text-end">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mov of movimientosList">
              <td>
                <div>
                  <ul class="list-unstyled hstack gap-1 mb-0">
                    <li
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      tooltip="Imprimir Comprobante"
                    >
                      <button
                        class="btn btn-sm btn-warning"
                        (click)="descargarComprobante(mov.id)"
                      >
                        <i class="mdi mdi-download"></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <span class="badge bg-info font-size-10">
                  {{mov['estadoFondo']['nombre']}}
                </span>
              </td>
              <td>
                <div>
                  <p class="mb-0 text-muted">
                    {{ mov['fecha']|fechaFormat}}
                  </p>
                </div>
              </td>
              <td>{{mov['centroCosto']['nombre']}}</td>
              <td>{{mov['nroReferencia']}}</td>
              <td class="text-end">{{mov['monto']|decimalAmount}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </ng-template>

  <div class="row mt-3 mb-3 me-3">
    <div class="hstack gap-2 justify-content-end">
        <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            (click)="this.cerrarModal.emit()"
           >
            Cerrar
        </button>
    </div>
  </div>

</div>

<ng-template #filtrosMovimientos>
  <div class="p-2 pb-0" >
    <div class="row">
      <div class="col-md-4">
        <p class="text-muted mb-1">Centro Costos</p>
        <ng-select
          [(ngModel)]="centroCostoSelect"
          [items]="listaCentroCostos"
          bindLabel="nombre"
          bindValue="id"
        />
      </div>
      <div class="col-md-4">
        <p class="text-muted mb-1">Estado de Fondo</p>
        <ng-select
          [(ngModel)]="estadoFondoSelect"
          [items]="listaEstadosFondo"
          bindLabel="nombre"
          bindValue="id"
        />
      </div>

      <div class="col-md-4">
        <div class="d-flex mb-1">
          <p class="text-muted fs-14 mb-0">Rango de fecha?</p>
            <p class="text-muted fs-14 mb-0 ms-4 fw-bold">{{!rangoFechas?'NO':'SI'}}</p>
            <div class="form-check form-check-success m-0 p-0 ms-5">
              <input
                class="form-check-input"
                type="checkbox"
                style="transform: scale(1.7)"
                placement="top"
                [ngModel]="rangoFechas"
                (ngModelChange)="rangoFechas=$event"
                />
            </div>
          </div>
          <ng-template *ngIf="rangoFechas; then inputRango else inputFecha"/>
        <ng-template #inputRango>
          <input
            type="text"
            [(ngModel)]="filtroFecha"
            placeholder="Fecha (Desde-Hasta)"
            class="form-control date"
            name="daterange"
            autocomplete="off"
            bsDaterangepicker
            (bsValueChange)="getFechas($event)"
          />
        </ng-template>
        <ng-template #inputFecha>
          <input
          type="text"
          placeholder="Fecha"
          class="form-control"
          bsDatepicker
          [(ngModel)]="filtroFecha"
          (bsValueChange)="getFechas($event)"
          />
        </ng-template>
      </div>

    </div>
    <div class="row mt-2">
      <div class="hstack gap-2 justify-content-end">
        <button
            type="button"
            class="btn btn-success"
            (click)="filtrar()"
           >Filtrar</button>

      </div>
    </div>
  </div>
</ng-template>

