<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="number"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">(*)Banco</label>
                    <select class="form-control form-select" id="bancoId" required formControlName="bancoId" name="bancoId" [ngClass]="{ 'is-invalid': submitted && form['bancoId'].errors }">
                    <option *ngFor="let t of banco" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['bancoId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['bancoId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['bancoId'].errors['minlength']">Debe tener al menos {{form['bancoId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['bancoId'].errors['maxlength']">Debe tener menos de {{form['bancoId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['bancoId'].errors['min']">Debe tener mayor o igual que {{form['bancoId'].errors['min']['min']}} </div>
                    <div *ngIf="form['bancoId'].errors['max']">Debe tener menor o igual que {{form['bancoId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">Contactos</label>
                    <select class="form-control form-select" id="contactoId"  formControlName="contactoId" name="contactoId" [ngClass]="{ 'is-invalid': submitted && form['contactoId'].errors }">
                    <option *ngFor="let t of contacto" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['contactoId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['contactoId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['contactoId'].errors['minlength']">Debe tener al menos {{form['contactoId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['contactoId'].errors['maxlength']">Debe tener menos de {{form['contactoId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['contactoId'].errors['min']">Debe tener mayor o igual que {{form['contactoId'].errors['min']['min']}} </div>
                    <div *ngIf="form['contactoId'].errors['max']">Debe tener menor o igual que {{form['contactoId'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
