<app-page-title title="Compensaciones" [breadcrumbItems]="breadCrumbItems" />

<app-tabla-new
  #tabla
  [botonNuevo]="true"
  [smallTable]="false"
  [conOpciones]="false"
  [formato]="formato"
  [datosService]="compensacionService"
  getAll="null"
  [templateFila]="templateFila"
  [botonNuevo]="true"
  (alCrear)="crearCompensacion()"
  [textoBuscar]="'Descripción'"
></app-tabla-new>

<ng-template #templateFila let-fila="fila" let-cabeceras="cabeceras">
  <ng-template ngFor let-campo [ngForOf]="cabeceras">
    <ng-template
      *ngIf="formato.cabeceras[campo].visibleCheck; then tempTD"
    ></ng-template>
    <ng-template #tempTD>
      <td [ngSwitch]="campo">
        <!-- <div *ngSwitchCase="'acciones'">
          <button
            class="btn btn-sm btn-warning me-2"
            tooltip="Devolucion"
            [disabled]="fila['saldo'] == 0"
          >
            <i class="mdi mdi-keyboard-backspace"></i>
          </button>
        </div> -->

        <div *ngSwitchCase="'centroCosto'">
          {{ fila.centroCosto.nombre }}
        </div>
        <div *ngSwitchCase="'descripcion'">
          {{ fila.descripcion }}
        </div>
        <div *ngSwitchCase="'personaOrigen'">
          {{ fila.personaOrigen }}
        </div>
        <div *ngSwitchCase="'operacionOrigen'">
          {{ fila.operacionOrigen }}
        </div>
        <div *ngSwitchCase="'personaContraparte'">
          {{ fila.personaContraparte }}
        </div>
        <div *ngSwitchCase="'operacionContraparte'">
          {{ fila.operacionContraparte }}
        </div>
        <div *ngSwitchCase="'montoCompensacion'">
          {{ fila.montoCompensacion?.nombre }}
        </div>
        <div *ngSwitchCase="'fechaCompensacion'">
          {{ fila.fechaCompensacion | fechaFormat }}
        </div>
        <div class="text-end" *ngSwitchCase="'estadoContabilidad'">
          {{ fila["estadoContabilidad"] }}
        </div>
        <div *ngSwitchDefault>
          <td>{{ fila[campo] }}</td>
        </div>
      </td>
    </ng-template>
  </ng-template>
</ng-template>

<ng-template #nuevaCompisicion>
  <compensation-form
    [title]="titleCustom"
    (cerrarModal)="modalRef.hide(); tabla.obtenerDatos()"
    (alActualizar)="modalRef.hide(); tabla.obtenerDatos()"
  ></compensation-form>
</ng-template>
