<app-page-title title="{{titulo}}" [breadcrumbItems]="breadCrumbItems" />
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card mb-0">
        <app-header-content [titulo]="tituloLista" (nuevo)="crearCompensacion()"
          (refrescar)="tabla.refrescar()"></app-header-content>
      </div>
    </div>
  </div>
</div>

<app-tabla-new
  #tabla
  [smallTable]="false"
  [conOpciones]="false"
  [formato]="formato"
  [datosService]="compensacionService"
  getAll="getAll"
  [templateFila]="templateFila"
  [botonNuevo]="false"
  [btnRefrescar] = "false"
  [textoBuscar]="'Descripción'"
></app-tabla-new>

<ng-template #templateFila let-fila="fila" let-cabeceras="cabeceras">
  <ng-template ngFor let-campo [ngForOf]="cabeceras">
    <ng-template
      *ngIf="formato.cabeceras[campo].visibleCheck; then tempTD"
    ></ng-template>
    <ng-template #tempTD>
      <td [ngSwitch]="campo">
        <div *ngSwitchCase="'acciones'">
          <button class="btn btn-sm btn-warning" (click)="descargarComprobante(fila.id)"tooltip="Imprimir comprobante" >
            <i class="mdi mdi-download"></i>
          </button>
        </div>

        <div *ngSwitchCase="'centroCosto'">
          {{ fila.centroCosto.nombre }}
        </div>
        <div *ngSwitchCase="'descripcion'">
          {{ fila.descripcion }}
        </div>
        <div *ngSwitchCase="'tipoPersonaOrigen'">
          {{ fila.tipoPersonaOrigen.nombre }} -
          {{ fila.operacionOrigen?.nombre }}
        </div>
        <div *ngSwitchCase="'tipoPersonaContraparte'">
          {{ fila.tipoPersonaContraparte.nombre }} -
          {{ fila.operacionContraparte?.nombre }}
        </div>
        <div *ngSwitchCase="'montoCompensacion'" class="text-end">
          {{ fila.montoCompensacion }}
        </div>
        <div *ngSwitchCase="'fechaCompensacion'">
          {{ fila.fechaCompensacion | fechaFormat }}
        </div>
        <div class="text-end" *ngSwitchCase="'estadoContabilidad'">
          <span class="badge bg-primary font-size-10">
            {{ fila["estadoContabilidad"]?.nombre }}
          </span>
        </div>
        <!--         <div *ngSwitchDefault>
          <td>{{ fila[campo] }}</td>
        </div> -->
      </td>
    </ng-template>
  </ng-template>
</ng-template>

<ng-template #nuevaCompisicion>
  <compensation-form
    [title]="titleCustom"
    (cerrarModal)="modalRef.hide(); tabla.obtenerDatos()"
    (alActualizar)="modalRef.hide(); tabla.obtenerDatos()"
  ></compensation-form>
</ng-template>
