<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="number"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Número </label>
                    <input type="text"  class="form-control uppercase" id="numero" (click)="alCambiar(form)"  formControlName="numero" [ngClass]="{ 'is-invalid': submitted && form['numero'].errors }">
                    <div *ngIf="submitted && form['numero'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['numero'].errors['required']">Es requerido</div>
                    <div *ngIf="form['numero'].errors['minlength']">Debe tener al menos {{form['numero'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['numero'].errors['maxlength']">Debe tener menos de {{form['numero'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['numero'].errors['min']">Debe tener mayor o igual que {{form['numero'].errors['min']['min']}} </div>
                    <div *ngIf="form['numero'].errors['max']">Debe tener menor o igual que {{form['numero'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <app-selector-add #monedaSelector  label="Monedas" [templateEditar]="monedaTemplateEditar" [templateNuevo]="monedaTemplateNuevo" name="moneda_id" [submitted]="submitted" [dataArray]="moneda" formControlName="moneda_id"  ></app-selector-add>
                    <ng-template #monedaTemplateNuevo>
                        <app-formulario-moneda [esModal]="true" (alGuardar)="moneda.push($event['content']);form['moneda_id'].setValue($event['content']['id']);monedaSelector.close()" ></app-formulario-moneda>
                    </ng-template>
                    <ng-template #monedaTemplateEditar>
                        <app-formulario-moneda [esModal]="true" [show_rel]="false" [dataEdit]="getDataFromFormname(moneda, 'moneda_id')" (alActualizar)="monedaSelector.close();setDataFromFormname(moneda, 'moneda_id',$event)" ></app-formulario-moneda>
                    </ng-template>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Importe </label>
                    <input type="text"  class="form-control uppercase" id="importe" (click)="alCambiar(form)"  formControlName="importe" [ngClass]="{ 'is-invalid': submitted && form['importe'].errors }">
                    <div *ngIf="submitted && form['importe'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['importe'].errors['required']">Es requerido</div>
                    <div *ngIf="form['importe'].errors['minlength']">Debe tener al menos {{form['importe'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['importe'].errors['maxlength']">Debe tener menos de {{form['importe'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['importe'].errors['min']">Debe tener mayor o igual que {{form['importe'].errors['min']['min']}} </div>
                    <div *ngIf="form['importe'].errors['max']">Debe tener menor o igual que {{form['importe'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Fecha de Inicio </label>
                    <input type="date"  class="form-control uppercase" id="fechainicio" (click)="alCambiar(form)"  formControlName="fechainicio" [ngClass]="{ 'is-invalid': submitted && form['fechainicio'].errors }">
                    <div *ngIf="submitted && form['fechainicio'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['fechainicio'].errors['required']">Es requerido</div>
                    <div *ngIf="form['fechainicio'].errors['minlength']">Debe tener al menos {{form['fechainicio'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fechainicio'].errors['maxlength']">Debe tener menos de {{form['fechainicio'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fechainicio'].errors['min']">Debe tener mayor o igual que {{form['fechainicio'].errors['min']['min']}} </div>
                    <div *ngIf="form['fechainicio'].errors['max']">Debe tener menor o igual que {{form['fechainicio'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Fecha de fin </label>
                    <input type="date"  class="form-control uppercase" id="fechafin" (click)="alCambiar(form)"  formControlName="fechafin" [ngClass]="{ 'is-invalid': submitted && form['fechafin'].errors }">
                    <div *ngIf="submitted && form['fechafin'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['fechafin'].errors['required']">Es requerido</div>
                    <div *ngIf="form['fechafin'].errors['minlength']">Debe tener al menos {{form['fechafin'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fechafin'].errors['maxlength']">Debe tener menos de {{form['fechafin'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['fechafin'].errors['min']">Debe tener mayor o igual que {{form['fechafin'].errors['min']['min']}} </div>
                    <div *ngIf="form['fechafin'].errors['max']">Debe tener menor o igual que {{form['fechafin'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
