<app-page-title title="PAGOS" [breadcrumbItems]="breadCrumbItems" />
<div class="card">
  <div class="card-body" id="accountFormModalBodyDiv">
    <div class="col-xl-12 border-bottom mb-2">
      <div class="float-end ms-2">
        <small class="mb-4" style="color: #f46a6a"
          >Los campos marcados con asterisco (*) son obligatorios.</small
        >
      </div>
      <div class="d-flex">
        <i class="mdi mdi-square-rounded text-primary"></i>
        <div>
          <h6 class="fs-14 mb-2 ms-1 text-primary">
            DATOS PARA LA TRANSACCIÓN
          </h6>
        </div>
      </div>
    </div>

    <form [formGroup]="formPago" (ngSubmit)="confirmAndContinueSaving()">
      <div class="ms-2 me-4 m-2">
        <div class="row mb-2">
          <div class="col-md-4">
            <input-fecha
              [formPadre]="formPago"
              [submitted]="submitted"
              labelFecha="(*)Fecha de pago"
            ></input-fecha>
          </div>
          <div class="col-md-4 mb-2">
            <p class="text-muted mb-1">(*)Proveedor</p>
            <ng-select
              formControlName="proveedorId"
              placeholder="Seleccione Proveedor"
              [items]="listaProveedores"
              bindLabel="razonSocial"
              bindValue="id"
              (change)="selectProveedor($event)"
              [ngClass]="{
                'ngselect-invalid':
                  submitted && form['proveedorId'].errors != null
              }"
            />
            <div *ngIf="submitted && form['proveedorId'].errors">
              <div
                class="text-danger mt-1 font-size-10"
                *ngIf="form['proveedorId'].errors['required']"
              >
                Seleccione proveedor.
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <p class="text-muted mb-1">Nº Referencia</p>
            <input
              type="text"
              class="form-control"
              placeholder="Referencia documento"
              formControlName="nroReferencia"
              (input)="
                utilityService?.convertUppercase(
                  'nroReferencia',
                  $event,
                  formPago
                )
              "
            />
          </div>
        </div>
        <div class="row">
          <list-compras-proveedor
            [formPadre]="formPago"
            [dataProveedor]="datosProvedor"
            [comprasProveedor]="comprasDelProveedor"
            [submitted]="submitted"
            (alSumarPagos)="recibirPagoTotal($event)"
          ></list-compras-proveedor>
        </div>
        <div
          class="row"
          [ngClass]="
            comprasDelProveedor.length <= 0 ? 'disable-transacciones' : ''
          "
        >
          <transaccion-array
            [formPadre]="formPago"
            labelTransferencia="realizar el pago"
            [submitted]="submitted"
            (alIngresarMonto)="recibirMontoTotal($event)"
          ></transaccion-array>
        </div>

        <div class="row mt-2">
          <div class="col-md-8">
            <label class="mb-2 mt-2">(*) Descripción </label>
            <textarea
              formControlName="descripcion"
              class="form-control uppercase"
              rows="2"
              placeholder="Descripción del pago"
              [ngClass]="{
                'is-invalid': submitted && form['descripcion'].errors
              }"
            ></textarea>
            <div
              *ngIf="submitted && form['descripcion'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="formPago.get('descripcion').errors?.required">
                La descripción para la apertura de caja es obligatoria
              </div>
              <div *ngIf="form['descripcion'].errors['maxlength']">
                Debe tener menos de
                {{
                  form["descripcion"].errors["maxlength"]["requiredLength"]
                }}carácteres
              </div>
              <div *ngIf="form['descripcion'].errors['minlength']">
                Debe tener mas de
                {{
                  form["descripcion"].errors["minlength"]["requiredLength"]
                }}carácteres
              </div>
            </div>
          </div>
          <div class="col-md-4 border p-3">
            <h6 class="fs-14 mt-0 mb-2 ms-1 text-secondary">
              <b> (*) Monto total a pagar </b>
            </h6>
            <div class="hstack gap-2 justify-content-end me-4">
              <h5 class="fs-14 mt-2 mb-2 ms-1 text-primary">
                <b>{{ formPago.get("montoPagado").value }}</b>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-3 me-3 pt-4 border-top">
        <div class="hstack gap-2 justify-content-end">
          <button
            type="button"
            class="btn btn-light"
            data-bs-dismiss="modal"
            (click)="this.cerrarModal.emit()"
          >
            Cerrar
          </button>
          <button
            [disabled]="isStatusSubmit"
            type="submit"
            [ngStyle]="{ padding: isStatusSubmit ? '6px' : '7.52px' }"
            class="btn btn-success d-flex gap-1 align-items-center"
          >
            <app-loader-button *ngIf="isStatusSubmit" />
            {{ isStatusSubmit ? " Espere un momento..." : "Realizar Pago" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
