<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">
            <div class="mb-6 col-sm-12 d-none">
              <label for="nombre">id </label>
              <input
                type="text"
                class="form-control uppercase"
                id="id"
                (click)="alCambiar(form)"
                formControlName="id"
                [ngClass]="{ 'is-invalid': submitted && form['id'].errors }"
              />
              <div
                *ngIf="submitted && form['id'].errors"
                class="invalid-feedback"
                align="left"
              >
                <div *ngIf="form['id'].errors['required']">Es requerido</div>
                <div *ngIf="form['id'].errors['minlength']">
                  Debe tener al menos
                  {{
                    form["id"].errors["minlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['id'].errors['maxlength']">
                  Debe tener menos de
                  {{
                    form["id"].errors["maxlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['id'].errors['min']">
                  Debe tener mayor o igual que
                  {{ form["id"].errors["min"]["min"] }}
                </div>
                <div *ngIf="form['id'].errors['max']">
                  Debe tener menor o igual que
                  {{ form["id"].errors["max"]["max"] }}
                </div>
              </div>
            </div>

            <div class="mb-6 col-sm-12">
              <label for="formrow-firstname-input ">(*)Tipo de Entidad</label>
              <select
                class="form-control form-select"
                id="tipoEntidadId"
                required
                formControlName="tipoEntidadId"
                name="tipoEntidadId"
                [ngClass]="{
                  'is-invalid': submitted && form['tipoEntidadId'].errors
                }"
              >
                <option *ngFor="let t of tipo_entidad" value="{{ t.id }}">
                  {{ t.nombre }}
                </option>
              </select>
              <div
                *ngIf="submitted && form['tipoEntidadId'].errors"
                class="invalid-feedback"
                align="left"
              >
                <div *ngIf="form['tipoEntidadId'].errors['required']">
                  Es requerido
                </div>
                <div *ngIf="form['tipoEntidadId'].errors['minlength']">
                  Debe tener al menos
                  {{
                    form["tipoEntidadId"].errors["minlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['tipoEntidadId'].errors['maxlength']">
                  Debe tener menos de
                  {{
                    form["tipoEntidadId"].errors["maxlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['tipoEntidadId'].errors['min']">
                  Debe tener mayor o igual que
                  {{ form["tipoEntidadId"].errors["min"]["min"] }}
                </div>
                <div *ngIf="form['tipoEntidadId'].errors['max']">
                  Debe tener menor o igual que
                  {{ form["tipoEntidadId"].errors["max"]["max"] }}
                </div>
              </div>
            </div>

            <div class="mb-6 col-sm-12">
              <label for="nombre">(*)Forma de registro </label>
              <input
                type="text"
                class="form-control uppercase"
                id="formaRegistro"
                (click)="alCambiar(form)"
                required
                formControlName="formaRegistro"
                [ngClass]="{
                  'is-invalid': submitted && form['formaRegistro'].errors
                }"
              />
              <div
                *ngIf="submitted && form['formaRegistro'].errors"
                class="invalid-feedback"
                align="left"
              >
                <div *ngIf="form['formaRegistro'].errors['required']">
                  Es requerido
                </div>
                <div *ngIf="form['formaRegistro'].errors['minlength']">
                  Debe tener al menos
                  {{
                    form["formaRegistro"].errors["minlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['formaRegistro'].errors['maxlength']">
                  Debe tener menos de
                  {{
                    form["formaRegistro"].errors["maxlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['formaRegistro'].errors['min']">
                  Debe tener mayor o igual que
                  {{ form["formaRegistro"].errors["min"]["min"] }}
                </div>
                <div *ngIf="form['formaRegistro'].errors['max']">
                  Debe tener menor o igual que
                  {{ form["formaRegistro"].errors["max"]["max"] }}
                </div>
              </div>
            </div>

            <div class="mb-6 col-sm-12">
              <label for="formrow-firstname-input "
                >(*)Anticipo a regularizar</label
              >
              <select
                class="form-control form-select"
                id="anticipoRegularizarId"
                required
                formControlName="anticipoRegularizarId"
                name="anticipoRegularizarId"
                [ngClass]="{
                  'is-invalid':
                    submitted && form['anticipoRegularizarId'].errors
                }"
              >
                <option *ngFor="let t of anticipo" value="{{ t.id }}">
                  {{ t.tipoEntidadId }}
                </option>
              </select>
              <div
                *ngIf="submitted && form['anticipoRegularizarId'].errors"
                class="invalid-feedback"
                align="left"
              >
                <div *ngIf="form['anticipoRegularizarId'].errors['required']">
                  Es requerido
                </div>
                <div *ngIf="form['anticipoRegularizarId'].errors['minlength']">
                  Debe tener al menos
                  {{
                    form["anticipoRegularizarId"].errors["minlength"][
                      "requiredLength"
                    ]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['anticipoRegularizarId'].errors['maxlength']">
                  Debe tener menos de
                  {{
                    form["anticipoRegularizarId"].errors["maxlength"][
                      "requiredLength"
                    ]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['anticipoRegularizarId'].errors['min']">
                  Debe tener mayor o igual que
                  {{ form["anticipoRegularizarId"].errors["min"]["min"] }}
                </div>
                <div *ngIf="form['anticipoRegularizarId'].errors['max']">
                  Debe tener menor o igual que
                  {{ form["anticipoRegularizarId"].errors["max"]["max"] }}
                </div>
              </div>
            </div>

            <div class="mb-6 col-sm-12">
              <label for="nombre">(*)Monto </label>
              <input
                type="text"
                class="form-control uppercase"
                id="monto"
                (click)="alCambiar(form)"
                required
                formControlName="monto"
                [ngClass]="{ 'is-invalid': submitted && form['monto'].errors }"
              />
              <div
                *ngIf="submitted && form['monto'].errors"
                class="invalid-feedback"
                align="left"
              >
                <div *ngIf="form['monto'].errors['required']">Es requerido</div>
                <div *ngIf="form['monto'].errors['minlength']">
                  Debe tener al menos
                  {{
                    form["monto"].errors["minlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['monto'].errors['maxlength']">
                  Debe tener menos de
                  {{
                    form["monto"].errors["maxlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['monto'].errors['min']">
                  Debe tener mayor o igual que
                  {{ form["monto"].errors["min"]["min"] }}
                </div>
                <div *ngIf="form['monto'].errors['max']">
                  Debe tener menor o igual que
                  {{ form["monto"].errors["max"]["max"] }}
                </div>
              </div>
            </div>

            <div class="mb-6 col-sm-12">
              <label for="nombre">(*)Ingreso/Egreso </label>
              <input
                type="text"
                class="form-control uppercase"
                id="ingresoEgreso"
                (click)="alCambiar(form)"
                required
                formControlName="ingresoEgreso"
                [ngClass]="{
                  'is-invalid': submitted && form['ingresoEgreso'].errors
                }"
              />
              <div
                *ngIf="submitted && form['ingresoEgreso'].errors"
                class="invalid-feedback"
                align="left"
              >
                <div *ngIf="form['ingresoEgreso'].errors['required']">
                  Es requerido
                </div>
                <div *ngIf="form['ingresoEgreso'].errors['minlength']">
                  Debe tener al menos
                  {{
                    form["ingresoEgreso"].errors["minlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['ingresoEgreso'].errors['maxlength']">
                  Debe tener menos de
                  {{
                    form["ingresoEgreso"].errors["maxlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['ingresoEgreso'].errors['min']">
                  Debe tener mayor o igual que
                  {{ form["ingresoEgreso"].errors["min"]["min"] }}
                </div>
                <div *ngIf="form['ingresoEgreso'].errors['max']">
                  Debe tener menor o igual que
                  {{ form["ingresoEgreso"].errors["max"]["max"] }}
                </div>
              </div>
            </div>

            <div class="mb-6 col-sm-12">
              <label for="nombre">(*)Saldo </label>
              <input
                type="text"
                class="form-control uppercase"
                id="saldo"
                (click)="alCambiar(form)"
                required
                formControlName="saldo"
                [ngClass]="{ 'is-invalid': submitted && form['saldo'].errors }"
              />
              <div
                *ngIf="submitted && form['saldo'].errors"
                class="invalid-feedback"
                align="left"
              >
                <div *ngIf="form['saldo'].errors['required']">Es requerido</div>
                <div *ngIf="form['saldo'].errors['minlength']">
                  Debe tener al menos
                  {{
                    form["saldo"].errors["minlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['saldo'].errors['maxlength']">
                  Debe tener menos de
                  {{
                    form["saldo"].errors["maxlength"]["requiredLength"]
                  }}
                  caracteres
                </div>
                <div *ngIf="form['saldo'].errors['min']">
                  Debe tener mayor o igual que
                  {{ form["saldo"].errors["min"]["min"] }}
                </div>
                <div *ngIf="form['saldo'].errors['max']">
                  Debe tener menor o igual que
                  {{ form["saldo"].errors["max"]["max"] }}
                </div>
              </div>
            </div>

            <div class="mb-6 col-sm-12">
              <app-selector-add
                #documentoSelector
                label="Documento"
                [campoNombre]="'documentoTipo.nombre'"
                [campoValor]="'id'"
                [templateEditar]="documentoTemplateEditar"
                [templateNuevo]="documentoTemplateNuevo"
                name="documentoId"
                [submitted]="submitted"
                [dataArray]="documento"
                formControlName="documentoId"
              ></app-selector-add>
              <ng-template #documentoTemplateNuevo>
                <app-formulario-documento
                  [esModal]="true"
                  (alGuardar)="cargarArrays(); documentoSelector.close()"
                ></app-formulario-documento>
              </ng-template>
              <ng-template #documentoTemplateEditar>
                <app-formulario-documento
                  [esModal]="true"
                  [show_rel]="false"
                  [dataEdit]="getDataFromFormname(documento, 'documentoId')"
                  (alActualizar)="
                    documentoSelector.close();
                    setDataFromFormname(documento, 'documentoId', $event)
                  "
                ></app-formulario-documento>
              </ng-template>
            </div>

            <hr />
            <div class="col-lg-6">
              <button
                *ngIf="!dataEdit"
                type="submit"
                class="btn btn-primary w-md"
              >
                Registrar
              </button>
              <button
                *ngIf="dataEdit"
                type="submit"
                class="btn btn-primary w-md"
              >
                Guardar
              </button>
              <span
                *ngIf="!esModal"
                (click)="volver()"
                class="btn btn-secondary w-md"
                >Volver</span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
