<div class="seccion-compensaciones">
  <div class="col-xl-12 mb-1">
    <div class="d-flex">
      <div>
        <h6 class="fs-14 mb-2 ms-1 text-primary">
          Compensación del {{ labelOperation }}
        </h6>
      </div>
    </div>
  </div>

  <div
    [formGroup]="formMain"
    class="table-responsive"
    style="max-height: 450px; overflow-y: scroll"
  >
    <table class="table table-sm m-0">
      <thead>
        <tr>
          <th class="">Regularizar</th>
          <th class="text-muted fs-14 mb-2">N° Documento</th>
          <th style="width: 450px" class="text-muted fs-14 mb-2">
            Descripción
          </th>
          <th style="min-width: 120px" class="text-muted fs-14 mb-2">Fecha</th>
          <th class="text-muted fs-14 mb-2">Monto {{ labelOperation }}</th>
          <th class="text-muted fs-14 mb-2">Saldo</th>
          <th class="text-muted fs-14 mb-2">Importe</th>
          <th class="text-muted fs-14 mb-2">Cuotas</th>
        </tr>
      </thead>
      <tbody
        formGroupName="movimientoOrigen"
        *ngFor="let move of listData; let i = index"
        class="py-2"
      >
        <tr [ngClass]="{ rowDisabled: getBalance(move) == 0 }">
          <input
            type="hidden"
            [value]="move['id']"
            formControlName="movimientoReferenciaId"
          />
          <td class="text-start">
            <div class="form-check form-radio-primary">
              <input
                class="form-check-input mt-2 ms-1"
                type="radio"
                (change)="onRadioChange(move['id'])"
                style="transform: scale(1.5)"
                [checked]="move['selected']"
                [disabled]="getBalance(move) == 0"
              />
            </div>
          </td>
          <td class="text-start">
            {{ getNroDocument(move) }}
          </td>
          <td class="text-start text-uppercase">
            {{ move["descripcion"] || "" }}
          </td>
          <td class="text-start">
            {{ getMovementDate(move) | fechaFormat }}
          </td>
          <td class="text-end me-5">
            {{ getAmount(move) | decimalAmount }}
          </td>
          <td
            class="text-end me-2"
            [ngClass]="{ cellZero: getBalance(move) == 0 }"
          >
            {{ getBalance(move) | decimalAmount }}
          </td>
          <td class="text-end">
            <input
              class="form-control"
              type="text"
              [disabled]="
                !move['selected'] || move['planCobros'] || move['planPagos']
              "
              [value]="move['importe']"
              (change)="onNumberChange($event)"
              min="1"
              placeholder="0"
              (keypress)="validateDecimalInput($event)"
            />
            <span
              class="text-danger"
              *ngIf="
                isOlder && move['selected'] && labelOperation == 'Anticipo'
              "
              >El importe no debe ser mayor al saldo</span
            >
          </td>
          <td class="text-center" title="Ver Cuotas">
            <button
              [disabled]="!move['selected']"
              type="button"
              class="btn btn-warning btn-sm ms-2 py-0 px-1"
              (click)="onClickShowOdds(move['id'])"
            >
              <i
                class="mdi m-0 p-0 mdi-clipboard-plus"
                style="font-size: 15px"
              ></i>
            </button>
          </td>
        </tr>
        <tr
          *ngIf="move['showOdds'] && (move['planCobros'] || move['planPagos'])"
          style="opacity: 0.8"
          class="bg-light"
        >
          <td></td>
          <td></td>
          <td colspan="6">
            <div class="table-responsive">
              <table class="table m-0 table-striped">
                <thead class="bg-primary text-white p-0 m-0">
                  <tr>
                    <th></th>
                    <th>Nro Ref.</th>
                    <th>Fecha limite</th>
                    <th>Saldo</th>
                    <th>Importe</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let dataCredito of move['planCobros'] ||
                        move['planPagos'];
                      let i = index
                    "
                  >
                    <td>
                      <small class="me-2" [id]="'nameCouta' + i">
                        Couta &nbsp; {{ i + 1 }}</small
                      >
                      <input
                        type="checkbox"
                        name="selectCouta"
                        class="form-check-input ms-1"
                        style="width: 1.8em; height: 1.8em"
                        [checked]="dataCredito['show']"
                        (change)="onSelectCheckbox(dataCredito, move['id'])"
                      />
                    </td>
                    <th>{{ dataCredito["nroReferencia"] }}</th>
                    <td>
                      {{ getInstallmentDate(dataCredito) | fechaFormat }}
                    </td>
                    <td class="text-end">
                      {{ getInstallmentBalance(dataCredito) | decimalAmount }}
                    </td>
                    <td class="text-end">
                      <input
                        class="form-control"
                        type="text"
                        [value]="dataCredito['importe']"
                        [disabled]="!dataCredito['show']"
                        (change)="
                          onNumberChangeCuota(dataCredito, move['id'], $event)
                        "
                        min="1"
                        placeholder="0"
                        (keypress)="validateDecimalInput($event)"
                      />
                      <span
                        class="text-danger"
                        *ngIf="isOlder && dataCredito['show']"
                        >El importe no debe ser mayor al saldo</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="bg-light">
          <td colspan="6"></td>
          <th>TOTAL</th>
          <th class="text-end fs-3">{{ totalOrigin }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
