<form [formGroup]="formGroup">
  <label class="mb-3 col-12">Los campos marcados con asterisco (*) son obligatorios.</label>
  <div class="nav col-12" [class]="{ 'border-bottom': entidad != undefined }">
    <div class="col-12 mb-3" *ngIf="!entidad">
      <label class="mb-2">(*) Tipo </label>
      <ng-select class="uppercase" formControlName="tipoId" placeholder="Seleccione un tipo" (change)="cambioTipo()" [items]="listaEntidades" bindLabel="tipo" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['tipoId'].errors != null }">
      </ng-select>
      <div *ngIf="submitted && form['tipoId'].errors"  class="col-sm-12">
        <div *ngIf="form['tipoId'].errors['required']" class="text-danger mt-1 font-size-10">El tipo es obligatorio</div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <label class="mb-2" >(*) Nombre <i class="mdi mdi-magnify"></i></label>
      <ng-select notFoundText="" placeholder="nombre" formControlName="nombre" (change)="cambioEntidad($event)" (search)="buscar($event)" [items]="datos_entidad" bindLabel="nombre" bindValue="nombre" class="form-control uppercase text-uppercase m-0 p-0 border border-0" [addTag]="true" addTagText="Agregar"  [ngClass]="{ 'ngselect-invalid': submitted && form['nombre'].errors != null }">
      </ng-select>
      <div *ngIf="submitted && form['nombre'].errors"  class="col-sm-12">
        <div *ngIf="form['nombre'].errors['required']" class="text-danger mt-1 font-size-10">El Nombre es obligatorio</div>
      </div>
      <div *ngIf="tipoId && !entidad" class="col-sm-12">
        <div class="text-danger mt-1 font-size-10">Seleccione antes un tipo</div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <label class="mb-2">(*) NIT/CI <i class="mdi mdi-magnify"></i></label>
      <ng-select notFoundText="" placeholder="nit / ci" formControlName="nitCi" (change)="cambioEntidad($event)" (search)="buscar($event)" [items]="datos_entidad" bindLabel="nitCi" bindValue="nitCi" class="form-control uppercase text-uppercase m-0 p-0 border border-0" [addTag]="true" addTagText="Agregar"  [ngClass]="{ 'ngselect-invalid': submitted && form['nitCi'].errors != null }">
      </ng-select>
      <div *ngIf="submitted && form['nitCi'].errors"  class="col-sm-12">
        <div *ngIf="form['nitCi'].errors['required']" class="text-danger mt-1 font-size-10">El NIT/CI es obligatorio</div>
      </div>
      <div *ngIf="tipoId && !entidad" class="col-sm-12">
        <div class="text-danger mt-1 font-size-10">Seleccione antes un tipo</div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="entidad">
    <div class="col-12 my-3">
      <label class="mb-2">(*) Tipos</label>
      <ng-select notFoundText="" [(ngModel)]="tipos" [ngModelOptions]="{standalone: true}" [multiple]="true"  [items]="listaEntidades" bindLabel="tipo" bindValue="id" class="form-control uppercase text-uppercase m-0 p-0 border border-0" [addTag]="true" addTagText="Agregar"  [ngClass]="{ 'ngselect-invalid': submitted && form['nitCi'].errors != null }">
      </ng-select>
      <div *ngIf="submitted && tipos == null"  class="col-sm-12">
        <div *ngIf="tipos == null" class="text-danger mt-1 font-size-10">Seleccionar tipos es obligatorio</div>
      </div>
    </div>
  </div>
</form>
