<app-page-title title="{{titulo}}" [breadcrumbItems]="breadCrumbItems" />
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card mb-0">
        <app-header-content [titulo]="tituloLista" (nuevo)="navigateToCollectForm()"
          ></app-header-content>
      </div>
    </div>
  </div>
</div>

<app-tabla-new
	#table
	[botonNuevo]="false"
	[smallTable]="false"
	[conOpciones]="false"
	[formato]="tableHeadersFormat"
	[datosService]="cobroService"
	getAll="getClientsByKeyword"
	[templateFila]="rowTemplate"
	labelNuevo="Nuevo Cobro"
/>

<ng-template #rowTemplate let-rowData="fila" let-tableHeaders="cabeceras">
	<ng-template ngFor let-field [ngForOf]="tableHeaders">
		<ng-template
			*ngIf="tableHeadersFormat?.cabeceras[field]?.visibleCheck; then tdTemp"
		/>
		<ng-template #tdTemp>
			<td [ngSwitch]="field">
        <div *ngSwitchCase="'acciones'">
          <button
            class="btn btn-sm btn-info me-1"
            tooltip="Ver detalles"
            (click)="verDetalles(rowData, modalDetalle)"
          >
            <i class="mdi mdi-eye"></i>
          </button>
        </div>
				<div *ngSwitchCase="'totalCreditos'" class="text-end">
					{{ rowData?.totalCreditos || 0 | decimalAmount }}
				</div>
				<div *ngSwitchCase="'totalPagado'" class="text-end">
					{{ rowData?.totalCreditosPagados || 0 | decimalAmount }}
				</div>
				<div
					*ngSwitchCase="'totalSaldo'"
					class="text-end"
					[ngClass]="{
						'text-success': rowData?.totalSaldoCreditos >= 0,
						'text-danger': rowData?.totalSaldoCreditos < 0
					}"
				>
					{{ rowData?.totalSaldoCreditos || 0 | decimalAmount }}
				</div>
				<div *ngSwitchDefault="">
					<td>{{ rowData[field] }}</td>
				</div>
			</td>
		</ng-template>
	</ng-template>
</ng-template>

<ng-template #modalDetalle>
  <detalle-cobro-cliente
    [dataCliente]="dataCliente"
    (cerrarModal)="modalRef.hide()"
  ></detalle-cobro-cliente>
</ng-template>
