<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">



                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="text"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="formrow-firstname-input ">(*)Acreedor</label>
                    <select class="form-control form-select" id="acreedorId" required formControlName="acreedorId" name="acreedorId" [ngClass]="{ 'is-invalid': submitted && form['acreedorId'].errors }">
                    <option *ngFor="let t of acreedor" value="{{t.id}}"  >{{t.entidad.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['acreedorId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['acreedorId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['acreedorId'].errors['minlength']">Debe tener al menos {{form['acreedorId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['acreedorId'].errors['maxlength']">Debe tener menos de {{form['acreedorId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['acreedorId'].errors['min']">Debe tener mayor o igual que {{form['acreedorId'].errors['min']['min']}} </div>
                    <div *ngIf="form['acreedorId'].errors['max']">Debe tener menor o igual que {{form['acreedorId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Monto </label>
                    <input type="text"  class="form-control uppercase" id="monto" (click)="alCambiar(form)" required formControlName="monto" [ngClass]="{ 'is-invalid': submitted && form['monto'].errors }">
                    <div *ngIf="submitted && form['monto'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['monto'].errors['required']">Es requerido</div>
                    <div *ngIf="form['monto'].errors['minlength']">Debe tener al menos {{form['monto'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['monto'].errors['maxlength']">Debe tener menos de {{form['monto'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['monto'].errors['min']">Debe tener mayor o igual que {{form['monto'].errors['min']['min']}} </div>
                    <div *ngIf="form['monto'].errors['max']">Debe tener menor o igual que {{form['monto'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <app-selector-add #deudorSelector  label="(*)Deudor" [campoNombre]="'entidad.nombre'" [campoValor]="'id'" [templateEditar]="deudorTemplateEditar" [templateNuevo]="deudorTemplateNuevo" name="deudorId" [submitted]="submitted" [dataArray]="deudor" formControlName="deudorId"  ></app-selector-add>
                    <ng-template #deudorTemplateNuevo>
                        <app-formulario-deudor [esModal]="true" (alGuardar)="cargarArrays();deudorSelector.close()" ></app-formulario-deudor>
                    </ng-template>
                    <ng-template #deudorTemplateEditar>
                        <app-formulario-deudor [esModal]="true" [show_rel]="false" [dataEdit]="getDataFromFormname(deudor, 'deudorId')" (alActualizar)="deudorSelector.close();setDataFromFormname(deudor, 'deudorId',$event)" ></app-formulario-deudor>
                    </ng-template>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="formrow-firstname-input ">(*)Forma de pago</label>
                    <select class="form-control form-select" id="formaPagoId" required formControlName="formaPagoId" name="formaPagoId" [ngClass]="{ 'is-invalid': submitted && form['formaPagoId'].errors }">
                    <option *ngFor="let t of forma_pago" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['formaPagoId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['formaPagoId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['formaPagoId'].errors['minlength']">Debe tener al menos {{form['formaPagoId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['formaPagoId'].errors['maxlength']">Debe tener menos de {{form['formaPagoId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['formaPagoId'].errors['min']">Debe tener mayor o igual que {{form['formaPagoId'].errors['min']['min']}} </div>
                    <div *ngIf="form['formaPagoId'].errors['max']">Debe tener menor o igual que {{form['formaPagoId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <app-selector-add #tipo_pagoSelector  label="(*)Tipo de pago" [campoNombre]="'nombre'" [campoValor]="'id'" [templateEditar]="tipo_pagoTemplateEditar" [templateNuevo]="tipo_pagoTemplateNuevo" name="tipoPagoId" [submitted]="submitted" [dataArray]="tipo_pago" formControlName="tipoPagoId"  ></app-selector-add>
                    <ng-template #tipo_pagoTemplateNuevo>
                        <app-formulario-tipopago [esModal]="true" (alGuardar)="cargarArrays();tipo_pagoSelector.close()" ></app-formulario-tipopago>
                    </ng-template>
                    <ng-template #tipo_pagoTemplateEditar>
                        <app-formulario-tipopago [esModal]="true" [show_rel]="false" [dataEdit]="getDataFromFormname(tipo_pago, 'tipoPagoId')" (alActualizar)="tipo_pagoSelector.close();setDataFromFormname(tipo_pago, 'tipoPagoId',$event)" ></app-formulario-tipopago>
                    </ng-template>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Fecha de pago </label>
                    <input type="date"  class="form-control uppercase" id="pagoFecha" (click)="alCambiar(form)" required formControlName="pagoFecha" [ngClass]="{ 'is-invalid': submitted && form['pagoFecha'].errors }">
                    <div *ngIf="submitted && form['pagoFecha'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['pagoFecha'].errors['required']">Es requerido</div>
                    <div *ngIf="form['pagoFecha'].errors['minlength']">Debe tener al menos {{form['pagoFecha'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['pagoFecha'].errors['maxlength']">Debe tener menos de {{form['pagoFecha'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['pagoFecha'].errors['min']">Debe tener mayor o igual que {{form['pagoFecha'].errors['min']['min']}} </div>
                    <div *ngIf="form['pagoFecha'].errors['max']">Debe tener menor o igual que {{form['pagoFecha'].errors['max']['max']}} </div>
                    </div>
                </div>

            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
