<div class="container-fluid">
	<div class="card card-body">
		<h5 class="card-title mb-3 pb-3 border-bottom">Detalle de Proveedor</h5>
		<div class="nav col-12 border-bottom">
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2 px-1">
				<p class="ps-2">
					<span class="fw-semibold semi">Nombre:</span>
					<span class="text-primary">
						{{ beneficiaryData?.nombreProveedor || 'N/A' }}
					</span>
				</p>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 px-1">
				<p class="ps-2">
					<span class="fw-semibold semi">NIT/CI:</span>
					<span class="text-primary">
						{{ beneficiaryData?.nroDocumento || 'N/A' }}
					</span>
				</p>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 px-1">
				<p class="ps-2">
					<span class="fw-semibold semi">Deuda Pendiente:</span>
					<span class="text-primary"> 0</span>
				</p>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-12 col-lg-6 col-xl-8">
				<krn-tabla
					#tabla
					[titulo]="tableTitle"
					[datosService]="tesoreriaProveedorService"
					getAll="getEnabledRecords"
					[formato]="tableformat"
					[textoBuscar]="tableSearchText"
					[isSubtable]="false"
					[templateFila]="undefined"
					[smallTable]="false"
					[softDelete]="false"
					(crearNuevo)="(null)"
					(alCrear)="(null)"
					(alRefrescar)="refreshDataTable()"
					(alFiltrar)="(null)"
					(alEditar)="(null)"
					campoEstado="estado"
					valueEstado="habilitado"
					(alHabilitar)="(null)"
					(alDeshabilitar)="(null)"
					(alEliminar)="(null)"
					[conOpciones]="false"
					[botonExportar]="false"
					[botonImportar]="false"
					[botonNuevo]="false"
					[templateFila]="null"
					[templateTbody]="tableBodyTemplate"
					[showOptionsButtonsTop]="false"
				/>
				<ng-template #tableBodyTemplate let-data="datos">
					<ng-container *ngFor="let rowPayData of data; let index = index">
						<tr>
							<td style="width: 10%">
								<div class="row">
									<div class="col-12">
										<input
											type="checkbox"
											name="selectDebt"
											[id]="'SelectDebt'+index"
											class="form-check-input ms-1"
											style="width: 1.8em; height: 1.8em"
											[(ngModel)]="rowPayData.selected"
											(change)="onChangeSelectedCheckbox(rowPayData,$event)"
										/>
										<button
											class="btn btn-info btn-sm ms-2 py-0 px-1"
											(click)="onClickToggleMoreInfo(rowPayData)"
										>
											<i
												class="mdi m-0 p-0"
												[ngClass]="{'mdi-eye-plus':!rowPayData.showForm,
												'mdi-eye-minus':rowPayData.showForm}"
												style="font-size: 15px"
											></i>
										</button>
									</div>
								</div>
							</td>
							<td>100001</td>
							<td>Factura</td>
							<td>25-07-2024</td>
							<td class="text-end" style="width: 20%">100</td>
							<td class="text-end" style="width: 20%">100</td>
						</tr>
						<tr *ngIf="rowPayData.showForm">
							<td></td>
							<td [colSpan]="5">
								<app-payment-form
									[paymentData]="{id:'4465465',planPagos:data}"
								/>
							</td>
						</tr>
					</ng-container>
				</ng-template>
			</div>
			<div class="col-12 col-lg-6 col-xl-4">
				<form [formGroup]="paymentForm">
					<div class="row">
						<div class="col-12 col-lg-6 mb-2">
							<label class="mb-2" for="paymentProviderId">
								(*) Fecha Pago
							</label>
							<input
								id="paymentPayDate"
								type="text"
								formControlName="fechaPago"
								class="form-control"
								[maxDate]="maxDateToUseForm"
								placeholder="dd-MM-AAAA"
								(input)="utilityService?.onlyNumbers('importe', $event, paymentForm)"
								[readOnly]="true"
								[bsConfig]="{isAnimated: true, dateInputFormat: 'DD-MM-YYYY'}"
								bsDatepicker
							/>
						</div>
						<div class="col-12 col-lg-6 mb-2">
							<label class="mb-2" for="paymentProviderId">
								(*) Monto a Pagar
							</label>
							<input
								id="paymentAmount"
								type="text"
								formControlName="totalPayAmount"
								class="form-control text-end"
								placeholder="MONTO A PAGAR Bs."
								(input)="utilityService?.onlyNumbers('importe', $event, paymentForm)"
								[readOnly]="true"
							/>
						</div>
						<div class="col-12 mb-2">
							<label class="mb-2" for="paymentProviderId">
								(*) Descripción
							</label>
							<textarea
								id="paymentDescription"
								formControlName="descripcion"
								class="form-control"
								placeholder="DESCRIPCIÓN DEL PAGO"
								(input)="utilityService?.convertUppercase('descripcion', $event, paymentForm)"
							></textarea>
						</div>
					</div>
					<app-operaciones
						#appOperaciones
						[montoPagar]="payAmount"
						[submitted]="submitted"
						[formGroup]="paymentForm"
						[simulateSmallWindow]="true"
					/>
				</form>
			</div>
		</div>
	</div>
</div>
