<form [formGroup]="formGroup">
  <label class="mb-3 col-12">Los campos marcados con asterisco (*) son obligatorios.</label>
  <div class="nav col-12">
    <div class="col-6 mb-3 px-1">
      <label class="mb-2" for="nombre">(*) Nro de Solicitud </label>
      <input type="text" class="form-control" formControlName="nroSolicitud" [ngClass]="{ 'is-invalid': submitted && form['nroSolicitud'].errors}">
      <div *ngIf="submitted && form['nroSolicitud'].errors" class="col-sm-12">
        <div *ngIf="form['nroSolicitud'].errors['required']" class="text-danger mt-1 font-size-10">El nro de solicitud es obligatorio</div>
        <div *ngIf="form['nroSolicitud'].errors['pattern']" class="text-danger mt-1 font-size-10">El nro de solicitud solo acepta carácteres númericos</div>
      </div>
    </div>
    <div class="col-6 mb-3 px-1">
      <label class="mb-2" for="nombre">(*) Fecha de Solicitud</label>
      <input type="text" placeholder="dd-mm-AA" formControlName="fechaSolicitud" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }" [ngClass]="{ 'is-invalid': submitted && form['fechaSolicitud'].errors}">
      <div *ngIf="submitted && form['fechaSolicitud'].errors" class="col-sm-12">
        <div *ngIf="form['fechaSolicitud'].errors['required']" class="text-danger mt-1 font-size-10">La fecha es obligatoria</div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1">
      <label class="col-3 col-form-label">(*) Nombre</label>
      <div class="col-9">
        <input type="text" class="form-control uppercase" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors}">
        <div *ngIf="submitted && form['nombre'].errors" class="col-sm-12">
          <div *ngIf="form['nombre'].errors['required']" class="text-danger mt-1 font-size-10">El nombre es obligatorio</div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1">
      <label class="col-3 col-form-label">Descripción</label>
      <div class="col-9">
        <textarea class="form-control uppercase" formControlName="descripcion" rows="3" [ngClass]="{ 'is-invalid': submitted && form['descripcion'].errors}"></textarea>
        <div *ngIf="submitted && form['descripcion'].errors" class="col-sm-12">
          <div *ngIf="form['descripcion'].errors['required']" class="text-danger mt-1 font-size-10">La descripción es obligatorio</div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1">
      <label class="col-3 col-form-label">(*) Monto de Solicitud</label>
      <div class="col-9">
        <input type="text" class="form-control text-end" formControlName="importe" placeholder="Bs." [ngClass]="{ 'is-invalid': submitted && form['importe'].errors}">
        <div *ngIf="submitted && form['importe'].errors" class="col-sm-12">
          <div *ngIf="form['monto'].errors['required']" class="text-danger mt-1 font-size-10">El monto es obligatorio</div>
          <div *ngIf="form['importe'].errors['pattern']" class="text-danger mt-1 font-size-10">El importe solo acepta carácteres númericos</div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1" *ngIf="descargo">
      <label class="col-3 col-form-label">(*) Monto de Descargo</label>
      <div class="col-9">
        <input type="text" class="form-control text-end" formControlName="monto" placeholder="Bs." [ngClass]="{ 'is-invalid': submitted && form['monto'].errors}">
        <div *ngIf="submitted && form['monto'].errors" class="col-sm-12">
          <div *ngIf="form['monto'].errors['required']" class="text-danger mt-1 font-size-10">El monto es obligatorio</div>
          <div *ngIf="form['monto'].errors['pattern']" class="text-danger mt-1 font-size-10">El importe solo acepta carácteres númericos</div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1" *ngIf="apertura || descargo">
      <label class="col-3 col-form-label">(*) Centro de Costos</label>
      <div class="col-9">
        <ng-select class="uppercase" formControlName="centroCostoId" placeholder="Seleccione un centro de costos" [items]="listaCentroCostos" bindLabel="nombre" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['centroCostoId'].errors != null }"></ng-select>
        <div *ngIf="submitted && form['centroCostoId'].errors" class="col-sm-12">
          <div *ngIf="form['centroCostoId'].errors['required']" class="text-danger mt-1 font-size-10">El centro de costos es obligatorio</div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1" *ngIf="descargo">
      <label class="col-3 col-form-label">(*) Fecha del Movimiento</label>
      <div class="col-9">
        <input type="text" placeholder="dd-mm-AA" formControlName="fechaMovimiento" [minDate]="fechaActual" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }" [ngClass]="{ 'is-invalid': submitted && form['fechaMovimiento'].errors}">
        <div *ngIf="submitted && form['fechaMovimiento'].errors" class="col-sm-12">
          <div *ngIf="form['fechaMovimiento'].errors['required']" class="text-danger mt-1 font-size-10">La fecha es obligatoria</div>
          <div *ngIf="form['fechaMovimiento'].errors['fechaInvalida']" class="text-danger font-size-10 mt-1" >la fecha debe ser mayor o igual a la fecha actual</div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1" *ngIf="apertura">
      <label class="col-3 col-form-label">(*) Banco</label>
      <div class="col-9">
        <ng-select class="uppercase" formControlName="bancoId" placeholder="Seleccione un banco" (change)="cambioBanco()" [items]="listaBancos" bindLabel="nombre" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['bancoId'].errors != null }"></ng-select>
        <div *ngIf="submitted && form['bancoId'].errors" class="col-sm-12">
          <div *ngIf="form['bancoId'].errors['required']" class="text-danger mt-1 font-size-10">El banco es obligatorio</div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1" *ngIf="apertura">
      <label class="col-3 col-form-label">(*) Cuenta</label>
      <div class="col-9">
        <ng-select class="uppercase" formControlName="cuentaBancoId" placeholder="Seleccione una cuenta" [items]="listaCuentasBanco" bindLabel="nroCuenta" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['cuentaBancoId'].errors != null }"></ng-select>
        <div *ngIf="submitted && form['cuentaBancoId'].errors" class="col-sm-12">
          <div *ngIf="form['cuentaBancoId'].errors['required']" class="text-danger mt-1 font-size-10">La cuenta es obligatoria</div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1" *ngIf="apertura">
      <label class="col-3 col-form-label">(*) Medio Transferencia</label>
      <div class="col-9">
        <ng-select class="uppercase" formControlName="medioTransferenciaId" placeholder="Seleccione un medio de transferencia" [items]="listaMedioTransferencias" bindLabel="medio" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['medioTransferenciaId'].errors != null }"></ng-select>
        <div *ngIf="submitted && form['medioTransferenciaId'].errors" class="col-sm-12">
          <div *ngIf="form['medioTransferenciaId'].errors['required']" class="text-danger mt-1 font-size-10">El medio de transferencia es obligatoria</div>
        </div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1" *ngIf="apertura || descargo">
      <label class="col-3 col-form-label">(*) Estado</label>
      <div class="col-9">
        <ng-select class="uppercase" formControlName="estado" placeholder="Seleccione un estado" [items]="listaEstados" bindLabel="nombre" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['estado'].errors != null }"></ng-select>
        <div *ngIf="submitted && form['estado'].errors" class="col-sm-12">
          <div *ngIf="form['estado'].errors['required']" class="text-danger mt-1 font-size-10">El estado es obligatorio</div>
        </div>
      </div>
    </div>
  </div>
</form>


