<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="text"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="formrow-firstname-input ">(*)Acreedor</label>
                    <select class="form-control form-select" id="acreedorId" required formControlName="acreedorId" name="acreedorId" [ngClass]="{ 'is-invalid': submitted && form['acreedorId'].errors }">
                    <option *ngFor="let t of acreedor" value="{{t.id}}"  >{{t.entidad.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['acreedorId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['acreedorId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['acreedorId'].errors['minlength']">Debe tener al menos {{form['acreedorId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['acreedorId'].errors['maxlength']">Debe tener menos de {{form['acreedorId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['acreedorId'].errors['min']">Debe tener mayor o igual que {{form['acreedorId'].errors['min']['min']}} </div>
                    <div *ngIf="form['acreedorId'].errors['max']">Debe tener menor o igual que {{form['acreedorId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">(*)Monto </label>
                    <input type="number"  class="form-control uppercase" id="monto" (click)="alCambiar(form)" required formControlName="monto" [ngClass]="{ 'is-invalid': submitted && form['monto'].errors }">
                    <div *ngIf="submitted && form['monto'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['monto'].errors['required']">Es requerido</div>
                    <div *ngIf="form['monto'].errors['minlength']">Debe tener al menos {{form['monto'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['monto'].errors['maxlength']">Debe tener menos de {{form['monto'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['monto'].errors['min']">Debe tener mayor o igual que {{form['monto'].errors['min']['min']}} </div>
                    <div *ngIf="form['monto'].errors['max']">Debe tener menor o igual que {{form['monto'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="formrow-firstname-input ">(*)Deudor</label>
                    <select class="form-control form-select" id="deudorId" required formControlName="deudorId" name="deudorId" [ngClass]="{ 'is-invalid': submitted && form['deudorId'].errors }">
                    <option *ngFor="let t of deudor" value="{{t.id}}"  >{{t.entidad.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['deudorId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['deudorId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['deudorId'].errors['minlength']">Debe tener al menos {{form['deudorId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['deudorId'].errors['maxlength']">Debe tener menos de {{form['deudorId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['deudorId'].errors['min']">Debe tener mayor o igual que {{form['deudorId'].errors['min']['min']}} </div>
                    <div *ngIf="form['deudorId'].errors['max']">Debe tener menor o igual que {{form['deudorId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="formrow-firstname-input ">Forma de cobro</label>
                    <select class="form-control form-select" id="formaCobroId"  formControlName="formaCobroId" name="formaCobroId" [ngClass]="{ 'is-invalid': submitted && form['formaCobroId'].errors }">
                    <option *ngFor="let t of forma_cobro" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['formaCobroId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['formaCobroId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['formaCobroId'].errors['minlength']">Debe tener al menos {{form['formaCobroId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['formaCobroId'].errors['maxlength']">Debe tener menos de {{form['formaCobroId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['formaCobroId'].errors['min']">Debe tener mayor o igual que {{form['formaCobroId'].errors['min']['min']}} </div>
                    <div *ngIf="form['formaCobroId'].errors['max']">Debe tener menor o igual que {{form['formaCobroId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">Fecha de cobro </label>
                    <input type="date"  class="form-control uppercase" id="cobroFecha" (click)="alCambiar(form)"  formControlName="cobroFecha" [ngClass]="{ 'is-invalid': submitted && form['cobroFecha'].errors }">
                    <div *ngIf="submitted && form['cobroFecha'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['cobroFecha'].errors['required']">Es requerido</div>
                    <div *ngIf="form['cobroFecha'].errors['minlength']">Debe tener al menos {{form['cobroFecha'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cobroFecha'].errors['maxlength']">Debe tener menos de {{form['cobroFecha'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cobroFecha'].errors['min']">Debe tener mayor o igual que {{form['cobroFecha'].errors['min']['min']}} </div>
                    <div *ngIf="form['cobroFecha'].errors['max']">Debe tener menor o igual que {{form['cobroFecha'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="formrow-firstname-input ">Tipo de cobro</label>
                    <select class="form-control form-select" id="tipoCobroId"  formControlName="tipoCobroId" name="tipoCobroId" [ngClass]="{ 'is-invalid': submitted && form['tipoCobroId'].errors }">
                    <option *ngFor="let t of tipo_cobro" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['tipoCobroId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['tipoCobroId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['tipoCobroId'].errors['minlength']">Debe tener al menos {{form['tipoCobroId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipoCobroId'].errors['maxlength']">Debe tener menos de {{form['tipoCobroId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipoCobroId'].errors['min']">Debe tener mayor o igual que {{form['tipoCobroId'].errors['min']['min']}} </div>
                    <div *ngIf="form['tipoCobroId'].errors['max']">Debe tener menor o igual que {{form['tipoCobroId'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
