<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">



                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="text"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="formrow-firstname-input ">Tipo de Pago</label>
                    <select class="form-control form-select" id="tipoPagoId"  formControlName="tipoPagoId" name="tipoPagoId" [ngClass]="{ 'is-invalid': submitted && form['tipoPagoId'].errors }">
                    <option *ngFor="let t of tipo_pago" value="{{t.id}}"  >{{t.descripcion}} </option>
                    </select>
                    <div *ngIf="submitted && form['tipoPagoId'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['tipoPagoId'].errors['required']">Es requerido</div>
                    <div *ngIf="form['tipoPagoId'].errors['minlength']">Debe tener al menos {{form['tipoPagoId'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipoPagoId'].errors['maxlength']">Debe tener menos de {{form['tipoPagoId'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipoPagoId'].errors['min']">Debe tener mayor o igual que {{form['tipoPagoId'].errors['min']['min']}} </div>
                    <div *ngIf="form['tipoPagoId'].errors['max']">Debe tener menor o igual que {{form['tipoPagoId'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <app-selector-add #viasSelector  label="viaId" [campoNombre]="'nombre'" [campoValor]="'id'" [templateEditar]="viasTemplateEditar" [templateNuevo]="viasTemplateNuevo" name="viaId" [submitted]="submitted" [dataArray]="vias" formControlName="viaId"  ></app-selector-add>
                    <ng-template #viasTemplateNuevo>
                        <app-formulario-vias [esModal]="true" (alGuardar)="cargarArrays();viasSelector.close()" ></app-formulario-vias>
                    </ng-template>
                    <ng-template #viasTemplateEditar>
                        <app-formulario-vias [esModal]="true" [show_rel]="false" [dataEdit]="getDataFromFormname(vias, 'viaId')" (alActualizar)="viasSelector.close();setDataFromFormname(vias, 'viaId',$event)" ></app-formulario-vias>
                    </ng-template>
                </div>

            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
