<div class="seccion-pagos">
  <div class="col-xl-12 border-bottom mb-2">
    <div class="d-flex">
      <div>
        <h6 class="fs-14 mb-2 ms-1 text-primary" *ngIf="!dataProveedor">
          Compras al proveedor
          <i>(Para listar compras seleccione antes un proveedor)</i>
        </h6>
        <h6 class="fs-14 mb-2 ms-1 text-primary" *ngIf="dataProveedor">
          Compras al proveedor : {{ dataProveedor["razonSocial"] }}
        </h6>
      </div>
    </div>
  </div>
  <ng-template *ngIf="comprasProveedor.length; then listar; else mensaje" />
  <ng-template #listar>
    <div class="row">
      <div class="col-md-7">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="thead-dark">
              <tr>
                <th></th>
                <th>Compra</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody *ngFor="let compra of comprasProveedor; let i = index">
              <tr>
                <td>
                  <div class="d-flex">
                    <input
                      type="checkbox"
                      name="selectDebt"
                      [id]="'SelectDebt' + i"
                      class="form-check-input ms-1"
                      style="width: 1.8em; height: 1.8em"
                      [checked]="compra['checked']"
                      (change)="onChangeSelectedCheckbox(compra, $event)"
                      tooltip="Pagar"
                    />
                    <button
                      type="button"
                      class="btn btn-secondary btn-sm ms-2 py-0 px-1"
                      tooltip="Ver pagos"
                      (click)="onClickToggleMoreInfo(compra)"
                    >
                      <i
                        class="mdi m-0 p-0"
                        [ngClass]="{
                          'mdi-clipboard-plus': !compra.showForm,
                          'mdi-clipboard-minus': compra.showForm
                        }"
                        style="font-size: 15px"
                      ></i>
                    </button>
                  </div>
                </td>
                <td>
                  <div>
                    <p class="mb-0 text-muted">
                      {{ compra["tipo"] }}
                    </p>
                    <p class="text-muted mb-0">
                      <b>{{ compra["nroFacturaRecibo"] }}</b>
                    </p>
                    <small>{{ compra["centroCostoId"] }}</small>
                  </div>
                </td>
                <td class="text-end">
                  {{ compra["fechaCompra"] | fechaFormat }}
                </td>
                <td class="text-end">{{ compra["total"]|decimalAmount }}</td>
                <td class="text-end">{{ compra["saldo"]|decimalAmount }}</td>
              </tr>
              <tr *ngIf="compra.showForm" class="sub-table no-bg">
                <td align="center"></td>
                <td colspan="15" class="p-0">
                  <table class="table m-0 table-sm table-striped">
                    <thead class="bg-secondary text-white">
                      <tr>
                        <th></th>
                        <th>Fecha limite</th>
                        <th>Deuda</th>
                        <th>Saldo</th>
                        <th>Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let pago of compra['planPagos']; let i = index"
                      >
                        <td>
                          <small class="me-2" [id]="'nameCouta' + i">
                            Couta {{ i + 1 }}</small
                          >
                          <input
                            type="checkbox"
                            name="selectCouta"
                            [id]="'SelectCouta' + i"
                            class="form-check-input ms-1"
                            style="width: 1.8em; height: 1.8em"
                            tooltip="Pagar couta"
                            [checked]="pago['checked']"
                            (change)="
                              selectPago(
                                $event.target['checked'],
                                i,
                                pago,
                                compra
                              )
                            "
                          />
                        </td>
                        <td>{{ pago["fechaLimitePago"] | fechaFormat }}</td>
                        <td class="text-end">{{ pago["monto"]|decimalAmount }}</td>
                        <td class="text-end">{{ pago["saldoPagar"]|decimalAmount }}</td>
                        <td class="text-center">
                          <small *ngIf="pago['conSaldo']" class="text-danger"
                            >Pendiente de pago</small
                          >
                          <small *ngIf="!pago['conSaldo']" class="text-success"
                            >Pagago</small
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <h6 class="fs-14 mt-2 mb-2 ms-1 text-secondary">
              <b>Pagos a realizar </b>
            </h6>
            <div [formGroup]="formPadre">
              <div formArrayName="planPagos">
                <div
                  *ngFor="let data1 of formPagos?.controls; let indice = index"
                >
                  <div [formGroupName]="indice">
                    <div class="border">
                      <div class="col-xl-12 border-bottom mb-1">
                        <div class="float-end ms-2">
                          <p
                            class="text-success mb-1"
                            [id]="'compra_' + indice"
                          ></p>
                        </div>
                        <h6 class="fs-14 mt-2 mb-2 ms-1 text-secondary">
                          <b> {{ indice + 1 }}</b>
                        </h6>
                      </div>

                      <div class="d-flex mt-2">
                        <div class="col-5">
                          <div>
                            <p
                              class="mb-0 text-muted"
                              [id]="'couta_' + indice"
                            ></p>
                          </div>
                        </div>
                        <div class="col-7">
                          <div class="form-floating mb-3">
                            <input
                              type="number"
                              class="form-control text-end"
                              id="floatingnameInput"
                              formControlName="montoPagado"
                              (input)="
                                utilityService?.onlyNumbers(
                                  'montoPagado',
                                  $event
                                )
                              "
                              (change)="calcularTotalPagar()"
                              [ngClass]="{
                                'is-invalid':
                                  formPagos.controls[indice].get('montoPagado')
                                    .errors?.required && submitted
                              }"
                            />
                            <label for="floatingnameInput">Monto a pagar</label>
                            <div
                              *ngIf="
                                submitted &&
                                formPagos.controls[indice].get('montoPagado')
                                  .errors
                              "
                            >
                              <small
                                class="text-danger"
                                *ngIf="
                                  formPagos.controls[indice].get('montoPagado')
                                    .errors?.required
                                "
                              >
                                El monto a pagar es requerido.
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hstack gap-2 justify-content-end">
              <div class="col-xl-8 border-bottom">
                <div class="float-end ms-2">
                  <h6 class="mb-1 fs-14 text-primary">{{ totalCoutas }}</h6>
                </div>
                <h6 class="fs-14 mt-2 mb-2 ms-1 text-primary"><b> TOTAL</b></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #mensaje>
    <span *ngIf="dataProveedor?.razonSocial" class="badge bg-warning"
      >No se encontraron compras del proveedor seleccionado</span
    >
  </ng-template>
</div>
