<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="number"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">(*)Nombre de tipo de fondo </label>
                    <input type="text"  class="form-control uppercase" id="nombre" (click)="alCambiar(form)" required formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors }">
                    <div *ngIf="submitted && form['nombre'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['nombre'].errors['required']">Es requerido</div>
                    <div *ngIf="form['nombre'].errors['minlength']">Debe tener al menos {{form['nombre'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombre'].errors['maxlength']">Debe tener menos de {{form['nombre'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombre'].errors['min']">Debe tener mayor o igual que {{form['nombre'].errors['min']['min']}} </div>
                    <div *ngIf="form['nombre'].errors['max']">Debe tener menor o igual que {{form['nombre'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">Descripcion </label><br>
                    <textarea class="form-control uppercase" rows=5 id="descripcion" (click)="alCambiar(form)"  formControlName="descripcion" [ngClass]="{ 'is-invalid': submitted && form['descripcion'].errors }"></textarea>
                    <div *ngIf="submitted && form['descripcion'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['descripcion'].errors['required']">Es requerido</div>
                    <div *ngIf="form['descripcion'].errors['minlength']">Debe tener al menos {{form['descripcion'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['descripcion'].errors['maxlength']">Debe tener menos de {{form['descripcion'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['descripcion'].errors['min']">Debe tener mayor o igual que {{form['descripcion'].errors['min']['min']}} </div>
                    <div *ngIf="form['descripcion'].errors['max']">Debe tener menor o igual que {{form['descripcion'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">es rotativo? </label><br>
                    <input type="checkbox" class="form-check-input uppercase" id="esrotativo"  (click)="alCambiar(form)" formControlName="esrotativo" [ngClass]="{ 'is-invalid': submitted && form['esrotativo'].errors }">
                    <div *ngIf="submitted && form['esrotativo'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['esrotativo'].errors['required']">Es requerido</div>
                    <div *ngIf="form['esrotativo'].errors['minlength']">Debe tener al menos {{form['esrotativo'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['esrotativo'].errors['maxlength']">Debe tener menos de {{form['esrotativo'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['esrotativo'].errors['min']">Debe tener mayor o igual que {{form['esrotativo'].errors['min']['min']}} </div>
                    <div *ngIf="form['esrotativo'].errors['max']">Debe tener menor o igual que {{form['esrotativo'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">es operativo? </label><br>
                    <input type="checkbox" class="form-check-input uppercase" id="esoperativo"  (click)="alCambiar(form)" formControlName="esoperativo" [ngClass]="{ 'is-invalid': submitted && form['esoperativo'].errors }">
                    <div *ngIf="submitted && form['esoperativo'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['esoperativo'].errors['required']">Es requerido</div>
                    <div *ngIf="form['esoperativo'].errors['minlength']">Debe tener al menos {{form['esoperativo'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['esoperativo'].errors['maxlength']">Debe tener menos de {{form['esoperativo'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['esoperativo'].errors['min']">Debe tener mayor o igual que {{form['esoperativo'].errors['min']['min']}} </div>
                    <div *ngIf="form['esoperativo'].errors['max']">Debe tener menor o igual que {{form['esoperativo'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">tiene rendición? </label><br>
                    <input type="checkbox" class="form-check-input uppercase" id="conrendicion"  (click)="alCambiar(form)" formControlName="conrendicion" [ngClass]="{ 'is-invalid': submitted && form['conrendicion'].errors }">
                    <div *ngIf="submitted && form['conrendicion'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['conrendicion'].errors['required']">Es requerido</div>
                    <div *ngIf="form['conrendicion'].errors['minlength']">Debe tener al menos {{form['conrendicion'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['conrendicion'].errors['maxlength']">Debe tener menos de {{form['conrendicion'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['conrendicion'].errors['min']">Debe tener mayor o igual que {{form['conrendicion'].errors['min']['min']}} </div>
                    <div *ngIf="form['conrendicion'].errors['max']">Debe tener menor o igual que {{form['conrendicion'].errors['max']['max']}} </div>
                    </div>
                </div>
            
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
