<form (ngSubmit)="guardar()" [formGroup]="formGroup">
  <label class="mb-3 col-12">
    Los campos marcados con asterisco (*) son obligatorios.
  </label>
  <div class="nav col-12 border-bottom">
    <div class="col-6">
      <div class="mb-3 px-1">
        <label for="formrow-password-input">(*) Fecha</label>
        <div class="input-group">
          <input
            type="text"
            placeholder="dd-mm-AA"
            class="form-control"
            [maxDate]="this.dateNow"
            [datesEnabled]="arrayDiasHabilitados"
            bsDatepicker
            required
            formControlName="fecha"
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }"
            [ngClass]="{ 'is-invalid': submitted && form['fecha'].errors }"
          />
          <span class="input-group-text">
            <i class="mdi mdi-calendar-outline"></i>
          </span>
          <div
            *ngIf="stateDate"
            class="col-sm-12 d-flex justify-content-between"
          >
            <div class="text-danger mt-1 font-size-10">
              No existen meses aperturados
            </div>
            <span
              class="badge text-bg-warning btn-aperturar d-flex align-items-center"
              (click)="enabledDate()"
              >Aperturar</span
            >
          </div>
          <div
            *ngIf="submitted && form['fecha'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form['fecha'].errors['required']">
              Fecha es obligatorio
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="tipo == 'nuevo'">
      <div class="mb-3 px-1">
        <label class="mb-2" for="entidadReferencialId">(*)Proveedor </label>
        <ng-select
          class="uppercase"
          formControlName="proveedorId"
          placeholder="Seleccione Proveedor"
          [items]="listaProveedores"
          bindLabel="nombre"
          bindValue="id"
          (change)="selectProveedor($event)"
          [ngClass]="{
            'ngselect-invalid': submitted && form['proveedorId'].errors != null
          }"
        />
        <div *ngIf="submitted && form['proveedorId'].errors">
          <div
            class="text-danger mt-1 font-size-10"
            *ngIf="form['proveedorId'].errors['required']"
          >
            Proveedor es obligatorio
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-6"
      *ngIf="tipo === 'nuevo' || estado?.nombre === 'DEVOLUCION'"
    >
      <div class="mb-3 px-1">
        <label class="mb-2" for="centroCostoId">(*) Centro Costos </label>
        <ng-select
          class="uppercase"
          formControlName="centroCostoId"
          placeholder="Seleccione Centro de Costo"
          [items]="listaCentroCostos"
          bindLabel="nombre"
          bindValue="id"
          [ngClass]="{
            'ngselect-invalid':
              submitted && form['centroCostoId'].errors != null
          }"
        />
        <div *ngIf="submitted && form['centroCostoId'].errors">
          <div
            class="text-danger mt-1 font-size-10"
            *ngIf="form['centroCostoId'].errors['required']"
          >
            El centro de costos es obligatorio
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="!isRefund">
      <div class="mb-3 px-1">
        <label class="mb-2" for="nroReferencia">(*) Nro de Referencia</label>
        <input
          type="text"
          class="form-control uppercase"
          formControlName="nroReferencia"
          [ngClass]="{
            'is-invalid': submitted && form['nroReferencia'].errors
          }"
        />
        <div
          *ngIf="submitted && form['nroReferencia'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="form['nroReferencia'].errors['required']">
            El nro de referencia es obligatorio
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3 px-1">
        <label class="mb-2">(*) Descripción </label>
        <textarea
          type="numeric"
          class="form-control uppercase"
          rows="2"
          formControlName="descripcion"
          [ngClass]="{ 'is-invalid': submitted && form['descripcion'].errors }"
        ></textarea>
        <div
          *ngIf="submitted && form['descripcion'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="form['descripcion'].errors['required']">
            La descripción es obligatoria
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="tipo === 'aplicacion' && !isRefund">
      <div class="mb-3 px-1">
        <label class="mb-2">(*) Estado</label>
        <ng-select
          class="uppercase"
          formControlName="estado"
          placeholder="Seleccione Estado de Anticipo"
          (change)="cambioEstado()"
          [items]="listaEstadoAnticipo"
          bindLabel="nombre"
          bindValue="id"
          [ngClass]="{
            'ngselect-invalid': submitted && form['estado'].errors != null
          }"
        />
        <div *ngIf="submitted && form['estado'].errors">
          <div
            class="text-danger mt-1 font-size-10"
            *ngIf="form['estado'].errors['required']"
          >
            Seleccionar Estado de anticipo
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3 px-1">
        <label class="mb-2" for="monto">(*) Monto </label>
        <input
          type="number"
          class="form-control uppercase text-end"
          formControlName="monto"
          [ngClass]="{ 'is-invalid': submitted && form['monto'].errors }"
        />
        <div *ngIf="submitted && form['monto'].errors" class="invalid-feedback">
          <div *ngIf="form['monto'].errors['required']">
            El monto es obligatorio
          </div>
          <div *ngIf="form['monto'].errors['pattern']">
            El monto solo acepta carácteres numéricos y un punto decimal
          </div>
          <div *ngIf="form['monto'].errors['max']">
            El monto debe ser menor o igual al saldo {{ anticipoData.saldo }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="form.saldo">
      <div class="mb-3 px-1">
        <label class="mb-2">(*) Saldo </label>
        <input
          type="number"
          class="form-control uppercase text-end"
          formControlName="saldo"
          [ngClass]="{ 'is-invalid': submitted && form['saldo'].errors }"
        />
        <div *ngIf="submitted && form['saldo'].errors">
          <div
            class="text-danger mt-1 font-size-10"
            *ngIf="form['saldo'].errors['required']"
          >
            El saldo es obligatorio
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="form.ingresoEgreso">
      <div class="mb-3 px-1">
        <label class="mb-2" for="ingresoEgreso">(*) Tipo de Movimiento </label>
        <ng-select
          class="uppercase"
          formControlName="ingresoEgreso"
          placeholder="Seleccione una opción"
          [items]="ingresoEgreso"
          bindLabel="name"
          bindValue="value"
          [ngClass]="{
            'ngselect-invalid':
              submitted && form['ingresoEgreso'].errors != null
          }"
        />
        <div *ngIf="submitted && form['ingresoEgreso'].errors">
          <div
            class="text-danger mt-1 font-size-10"
            *ngIf="form['ingresoEgreso'].errors['required']"
          >
            Seleccionar una opción obligatoria
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-operaciones
    #appOperaciones
    *ngIf="
      formGroup.get('operaciones')?.value &&
      (tipo == 'nuevo' || estado?.nombre == 'DEVOLUCION')
    "
    [montoPagar]="formGroup.get('monto')?.value"
    [cajaIdNoUse]="null"
    [submitted]="submitted"
    [formGroup]="formGroup"
  />
</form>
