<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="number"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">(*)Nombre </label>
                    <input type="text"  class="form-control uppercase" id="nombre" (click)="alCambiar(form)" required formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors }">
                    <div *ngIf="submitted && form['nombre'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['nombre'].errors['required']">Es requerido</div>
                    <div *ngIf="form['nombre'].errors['minlength']">Debe tener al menos {{form['nombre'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombre'].errors['maxlength']">Debe tener menos de {{form['nombre'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['nombre'].errors['min']">Debe tener mayor o igual que {{form['nombre'].errors['min']['min']}} </div>
                    <div *ngIf="form['nombre'].errors['max']">Debe tener menor o igual que {{form['nombre'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">Descripción </label>
                    <input type="text"  class="form-control uppercase" id="descripcion" (click)="alCambiar(form)"  formControlName="descripcion" [ngClass]="{ 'is-invalid': submitted && form['descripcion'].errors }">
                    <div *ngIf="submitted && form['descripcion'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['descripcion'].errors['required']">Es requerido</div>
                    <div *ngIf="form['descripcion'].errors['minlength']">Debe tener al menos {{form['descripcion'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['descripcion'].errors['maxlength']">Debe tener menos de {{form['descripcion'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['descripcion'].errors['min']">Debe tener mayor o igual que {{form['descripcion'].errors['min']['min']}} </div>
                    <div *ngIf="form['descripcion'].errors['max']">Debe tener menor o igual que {{form['descripcion'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-6 ">
                    <label for="nombre">Dirección </label>
                    <input type="text"  class="form-control uppercase" id="direccion" (click)="alCambiar(form)"  formControlName="direccion" [ngClass]="{ 'is-invalid': submitted && form['direccion'].errors }">
                    <div *ngIf="submitted && form['direccion'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['direccion'].errors['required']">Es requerido</div>
                    <div *ngIf="form['direccion'].errors['minlength']">Debe tener al menos {{form['direccion'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['direccion'].errors['maxlength']">Debe tener menos de {{form['direccion'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['direccion'].errors['min']">Debe tener mayor o igual que {{form['direccion'].errors['min']['min']}} </div>
                    <div *ngIf="form['direccion'].errors['max']">Debe tener menor o igual que {{form['direccion'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 ">
                    <label for="nombre">URL </label>
                    <input type="text"  class="form-control uppercase" id="url" (click)="alCambiar(form)"  formControlName="url" [ngClass]="{ 'is-invalid': submitted && form['url'].errors }">
                    <div *ngIf="submitted && form['url'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['url'].errors['required']">Es requerido</div>
                    <div *ngIf="form['url'].errors['minlength']">Debe tener al menos {{form['url'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['url'].errors['maxlength']">Debe tener menos de {{form['url'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['url'].errors['min']">Debe tener mayor o igual que {{form['url'].errors['min']['min']}} </div>
                    <div *ngIf="form['url'].errors['max']">Debe tener menor o igual que {{form['url'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 d-none">
                    <label for="formrow-firstname-input ">Contactos</label>
                    <select class="form-control form-select" id="contacto"  formControlName="contacto" name="contacto" [ngClass]="{ 'is-invalid': submitted && form['contacto'].errors }">
                    <option *ngFor="let t of contacto_banco" value="{{t.id}}"  >{{t.banco_id}} </option>
                    </select>
                    <div *ngIf="submitted && form['contacto'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['contacto'].errors['required']">Es requerido</div>
                    <div *ngIf="form['contacto'].errors['minlength']">Debe tener al menos {{form['contacto'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['contacto'].errors['maxlength']">Debe tener menos de {{form['contacto'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['contacto'].errors['min']">Debe tener mayor o igual que {{form['contacto'].errors['min']['min']}} </div>
                    <div *ngIf="form['contacto'].errors['max']">Debe tener menor o igual que {{form['contacto'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 d-none">
                    <label for="formrow-firstname-input ">Cuentas</label>
                    <select class="form-control form-select" id="cuentas"  formControlName="cuentas" name="cuentas" [ngClass]="{ 'is-invalid': submitted && form['cuentas'].errors }">
                    <option *ngFor="let t of cuenta_banco" value="{{t.id}}"  >{{t.banco_id}} </option>
                    </select>
                    <div *ngIf="submitted && form['cuentas'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['cuentas'].errors['required']">Es requerido</div>
                    <div *ngIf="form['cuentas'].errors['minlength']">Debe tener al menos {{form['cuentas'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cuentas'].errors['maxlength']">Debe tener menos de {{form['cuentas'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cuentas'].errors['min']">Debe tener mayor o igual que {{form['cuentas'].errors['min']['min']}} </div>
                    <div *ngIf="form['cuentas'].errors['max']">Debe tener menor o igual que {{form['cuentas'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 d-none">
                    <label for="formrow-firstname-input ">Líneas de Crédito</label>
                    <select class="form-control form-select" id="lineasdecredito"  formControlName="lineasdecredito" name="lineasdecredito" [ngClass]="{ 'is-invalid': submitted && form['lineasdecredito'].errors }">
                    <option *ngFor="let t of lineacredito_banco" value="{{t.id}}"  >{{t.banco_id}} </option>
                    </select>
                    <div *ngIf="submitted && form['lineasdecredito'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['lineasdecredito'].errors['required']">Es requerido</div>
                    <div *ngIf="form['lineasdecredito'].errors['minlength']">Debe tener al menos {{form['lineasdecredito'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['lineasdecredito'].errors['maxlength']">Debe tener menos de {{form['lineasdecredito'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['lineasdecredito'].errors['min']">Debe tener mayor o igual que {{form['lineasdecredito'].errors['min']['min']}} </div>
                    <div *ngIf="form['lineasdecredito'].errors['max']">Debe tener menor o igual que {{form['lineasdecredito'].errors['max']['max']}} </div>
                    </div>
                </div>
            
                <div class="mb-6 col-sm-12" *ngIf="dataEdit">
                    <hr>
                    <ul class="nav nav-tabs nav-tabs-dark" role="tablist">                        
                        
                    <li class="nav-item" >
                        <a class="nav-link atabx active" data-bs-toggle="tab" data-bs-target="#tab-contactobanco" role="button" aria-current="page" href="#">Contactos</a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link atabx " data-bs-toggle="tab" data-bs-target="#tab-cuentabanco" role="button" aria-current="page" href="#">Cuentas</a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link atabx " data-bs-toggle="tab" data-bs-target="#tab-lineacreditobanco" role="button" aria-current="page" href="#">Líneas de Crédito</a>
                    </li>
                    </ul>
                    <div class="tab-content">
                        
                    <div class="tab-pane border active" id="tab-contactobanco" >
                        <app-listado-contactobanco *ngIf="rel_prefix" [rel_prefix]="rel_prefix" [rel_field]="'banco_id'" > </app-listado-contactobanco>
                    </div>

                    <div class="tab-pane border " id="tab-cuentabanco" >
                        <app-listado-cuentabanco *ngIf="rel_prefix" [rel_prefix]="rel_prefix" [rel_field]="'banco_id'" > </app-listado-cuentabanco>
                    </div>

                    <div class="tab-pane border " id="tab-lineacreditobanco" >
                        <app-listado-lineacreditobanco *ngIf="rel_prefix" [rel_prefix]="rel_prefix" [rel_field]="'banco_id'" > </app-listado-lineacreditobanco>
                    </div>
                    </div>
                </div> 
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
