<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit)="guardar()" [formGroup]="formGroup">
        <div class="card">
          <div class="card-body row">

            

                <div class="mb-6 col-sm-12 d-none">
                    <label for="nombre">id </label>
                    <input type="number"  class="form-control uppercase" id="id" (click)="alCambiar(form)"  formControlName="id" [ngClass]="{ 'is-invalid': submitted && form['id'].errors }">
                    <div *ngIf="submitted && form['id'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['id'].errors['minlength']">Debe tener al menos {{form['id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['maxlength']">Debe tener menos de {{form['id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['id'].errors['min']">Debe tener mayor o igual que {{form['id'].errors['min']['min']}} </div>
                    <div *ngIf="form['id'].errors['max']">Debe tener menor o igual que {{form['id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Capital </label>
                    <input type="text"  class="form-control uppercase" id="capital" (click)="alCambiar(form)" required formControlName="capital" [ngClass]="{ 'is-invalid': submitted && form['capital'].errors }">
                    <div *ngIf="submitted && form['capital'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['capital'].errors['required']">Es requerido</div>
                    <div *ngIf="form['capital'].errors['minlength']">Debe tener al menos {{form['capital'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['capital'].errors['maxlength']">Debe tener menos de {{form['capital'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['capital'].errors['min']">Debe tener mayor o igual que {{form['capital'].errors['min']['min']}} </div>
                    <div *ngIf="form['capital'].errors['max']">Debe tener menor o igual que {{form['capital'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Cuotas </label>
                    <input type="number"  class="form-control uppercase" id="cuotas" (click)="alCambiar(form)" required formControlName="cuotas" [ngClass]="{ 'is-invalid': submitted && form['cuotas'].errors }">
                    <div *ngIf="submitted && form['cuotas'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['cuotas'].errors['required']">Es requerido</div>
                    <div *ngIf="form['cuotas'].errors['minlength']">Debe tener al menos {{form['cuotas'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cuotas'].errors['maxlength']">Debe tener menos de {{form['cuotas'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cuotas'].errors['min']">Debe tener mayor o igual que {{form['cuotas'].errors['min']['min']}} </div>
                    <div *ngIf="form['cuotas'].errors['max']">Debe tener menor o igual que {{form['cuotas'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="formrow-firstname-input ">(*)Tiempo de Cuotas</label>
                    <select class="form-control form-select" id="cuotas_tiempo_id" required formControlName="cuotas_tiempo_id" name="cuotas_tiempo_id" [ngClass]="{ 'is-invalid': submitted && form['cuotas_tiempo_id'].errors }">
                    <option *ngFor="let t of cuotas_tiempo" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['cuotas_tiempo_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['cuotas_tiempo_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['cuotas_tiempo_id'].errors['minlength']">Debe tener al menos {{form['cuotas_tiempo_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cuotas_tiempo_id'].errors['maxlength']">Debe tener menos de {{form['cuotas_tiempo_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['cuotas_tiempo_id'].errors['min']">Debe tener mayor o igual que {{form['cuotas_tiempo_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['cuotas_tiempo_id'].errors['max']">Debe tener menor o igual que {{form['cuotas_tiempo_id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Interés </label>
                    <input type="text"  class="form-control uppercase" id="interes" (click)="alCambiar(form)" required formControlName="interes" [ngClass]="{ 'is-invalid': submitted && form['interes'].errors }">
                    <div *ngIf="submitted && form['interes'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['interes'].errors['required']">Es requerido</div>
                    <div *ngIf="form['interes'].errors['minlength']">Debe tener al menos {{form['interes'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['interes'].errors['maxlength']">Debe tener menos de {{form['interes'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['interes'].errors['min']">Debe tener mayor o igual que {{form['interes'].errors['min']['min']}} </div>
                    <div *ngIf="form['interes'].errors['max']">Debe tener menor o igual que {{form['interes'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="formrow-firstname-input ">(*)Periodo de Interés</label>
                    <select class="form-control form-select" id="tiempo_interes_id" required formControlName="tiempo_interes_id" name="tiempo_interes_id" [ngClass]="{ 'is-invalid': submitted && form['tiempo_interes_id'].errors }">
                    <option *ngFor="let t of tiempo_interes" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['tiempo_interes_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['tiempo_interes_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['tiempo_interes_id'].errors['minlength']">Debe tener al menos {{form['tiempo_interes_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tiempo_interes_id'].errors['maxlength']">Debe tener menos de {{form['tiempo_interes_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tiempo_interes_id'].errors['min']">Debe tener mayor o igual que {{form['tiempo_interes_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['tiempo_interes_id'].errors['max']">Debe tener menor o igual que {{form['tiempo_interes_id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="formrow-firstname-input ">(*)Tipo de Interés</label>
                    <select class="form-control form-select" id="tipo_interes_id" required formControlName="tipo_interes_id" name="tipo_interes_id" [ngClass]="{ 'is-invalid': submitted && form['tipo_interes_id'].errors }">
                    <option *ngFor="let t of tipo_interes" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['tipo_interes_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['tipo_interes_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['tipo_interes_id'].errors['minlength']">Debe tener al menos {{form['tipo_interes_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipo_interes_id'].errors['maxlength']">Debe tener menos de {{form['tipo_interes_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipo_interes_id'].errors['min']">Debe tener mayor o igual que {{form['tipo_interes_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['tipo_interes_id'].errors['max']">Debe tener menor o igual que {{form['tipo_interes_id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Tiene IVA? </label>
                    <select class="form-control form-select" id="tieneiva" formControlName="tieneiva" required [ngClass]="{ 'is-invalid': submitted && form['tieneiva'].errors }"><option value=true default>Sí</option><option value=false>No</option></select>
                    <div *ngIf="submitted && form['tieneiva'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['tieneiva'].errors['required']">Es requerido</div>
                    <div *ngIf="form['tieneiva'].errors['minlength']">Debe tener al menos {{form['tieneiva'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tieneiva'].errors['maxlength']">Debe tener menos de {{form['tieneiva'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tieneiva'].errors['min']">Debe tener mayor o igual que {{form['tieneiva'].errors['min']['min']}} </div>
                    <div *ngIf="form['tieneiva'].errors['max']">Debe tener menor o igual que {{form['tieneiva'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Redondear cuotas? </label>
                    <select class="form-control form-select" id="redondear" formControlName="redondear" required [ngClass]="{ 'is-invalid': submitted && form['redondear'].errors }"><option value=true default>Sí</option><option value=false>No</option></select>
                    <div *ngIf="submitted && form['redondear'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['redondear'].errors['required']">Es requerido</div>
                    <div *ngIf="form['redondear'].errors['minlength']">Debe tener al menos {{form['redondear'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['redondear'].errors['maxlength']">Debe tener menos de {{form['redondear'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['redondear'].errors['min']">Debe tener mayor o igual que {{form['redondear'].errors['min']['min']}} </div>
                    <div *ngIf="form['redondear'].errors['max']">Debe tener menor o igual que {{form['redondear'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="formrow-firstname-input ">(*)Forma de pago</label>
                    <select class="form-control form-select" id="forma_pago_id" required formControlName="forma_pago_id" name="forma_pago_id" [ngClass]="{ 'is-invalid': submitted && form['forma_pago_id'].errors }">
                    <option *ngFor="let t of forma_pago" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['forma_pago_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['forma_pago_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['forma_pago_id'].errors['minlength']">Debe tener al menos {{form['forma_pago_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['forma_pago_id'].errors['maxlength']">Debe tener menos de {{form['forma_pago_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['forma_pago_id'].errors['min']">Debe tener mayor o igual que {{form['forma_pago_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['forma_pago_id'].errors['max']">Debe tener menor o igual que {{form['forma_pago_id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="formrow-firstname-input ">(*)Tipo de pago</label>
                    <select class="form-control form-select" id="tipo_pago_id" required formControlName="tipo_pago_id" name="tipo_pago_id" [ngClass]="{ 'is-invalid': submitted && form['tipo_pago_id'].errors }">
                    <option *ngFor="let t of tipo_pago" value="{{t.id}}"  >{{t.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['tipo_pago_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['tipo_pago_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['tipo_pago_id'].errors['minlength']">Debe tener al menos {{form['tipo_pago_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipo_pago_id'].errors['maxlength']">Debe tener menos de {{form['tipo_pago_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['tipo_pago_id'].errors['min']">Debe tener mayor o igual que {{form['tipo_pago_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['tipo_pago_id'].errors['max']">Debe tener menor o igual que {{form['tipo_pago_id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Monto Aprobado </label>
                    <input type="text"  class="form-control uppercase" id="montoaprobado" (click)="alCambiar(form)" required formControlName="montoaprobado" [ngClass]="{ 'is-invalid': submitted && form['montoaprobado'].errors }">
                    <div *ngIf="submitted && form['montoaprobado'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['montoaprobado'].errors['required']">Es requerido</div>
                    <div *ngIf="form['montoaprobado'].errors['minlength']">Debe tener al menos {{form['montoaprobado'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['montoaprobado'].errors['maxlength']">Debe tener menos de {{form['montoaprobado'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['montoaprobado'].errors['min']">Debe tener mayor o igual que {{form['montoaprobado'].errors['min']['min']}} </div>
                    <div *ngIf="form['montoaprobado'].errors['max']">Debe tener menor o igual que {{form['montoaprobado'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Monto Desembolsado </label>
                    <input type="text"  class="form-control uppercase" id="montodesembolsado" (click)="alCambiar(form)" required formControlName="montodesembolsado" [ngClass]="{ 'is-invalid': submitted && form['montodesembolsado'].errors }">
                    <div *ngIf="submitted && form['montodesembolsado'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['montodesembolsado'].errors['required']">Es requerido</div>
                    <div *ngIf="form['montodesembolsado'].errors['minlength']">Debe tener al menos {{form['montodesembolsado'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['montodesembolsado'].errors['maxlength']">Debe tener menos de {{form['montodesembolsado'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['montodesembolsado'].errors['min']">Debe tener mayor o igual que {{form['montodesembolsado'].errors['min']['min']}} </div>
                    <div *ngIf="form['montodesembolsado'].errors['max']">Debe tener menor o igual que {{form['montodesembolsado'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Plazo </label>
                    <input type="date"  class="form-control uppercase" id="plazo" (click)="alCambiar(form)" required formControlName="plazo" [ngClass]="{ 'is-invalid': submitted && form['plazo'].errors }">
                    <div *ngIf="submitted && form['plazo'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['plazo'].errors['required']">Es requerido</div>
                    <div *ngIf="form['plazo'].errors['minlength']">Debe tener al menos {{form['plazo'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['plazo'].errors['maxlength']">Debe tener menos de {{form['plazo'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['plazo'].errors['min']">Debe tener mayor o igual que {{form['plazo'].errors['min']['min']}} </div>
                    <div *ngIf="form['plazo'].errors['max']">Debe tener menor o igual que {{form['plazo'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Días </label>
                    <input type="number"  class="form-control uppercase" id="dias" (click)="alCambiar(form)" required formControlName="dias" [ngClass]="{ 'is-invalid': submitted && form['dias'].errors }">
                    <div *ngIf="submitted && form['dias'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['dias'].errors['required']">Es requerido</div>
                    <div *ngIf="form['dias'].errors['minlength']">Debe tener al menos {{form['dias'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['dias'].errors['maxlength']">Debe tener menos de {{form['dias'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['dias'].errors['min']">Debe tener mayor o igual que {{form['dias'].errors['min']['min']}} </div>
                    <div *ngIf="form['dias'].errors['max']">Debe tener menor o igual que {{form['dias'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="formrow-firstname-input ">(*)Acreedor</label>
                    <select class="form-control form-select" id="acreedor_id" required formControlName="acreedor_id" name="acreedor_id" [ngClass]="{ 'is-invalid': submitted && form['acreedor_id'].errors }">
                    <option *ngFor="let t of acreedor" value="{{t.id}}"  >{{t.entidad.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['acreedor_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['acreedor_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['acreedor_id'].errors['minlength']">Debe tener al menos {{form['acreedor_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['acreedor_id'].errors['maxlength']">Debe tener menos de {{form['acreedor_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['acreedor_id'].errors['min']">Debe tener mayor o igual que {{form['acreedor_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['acreedor_id'].errors['max']">Debe tener menor o igual que {{form['acreedor_id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="formrow-firstname-input ">(*)Deudor</label>
                    <select class="form-control form-select" id="deudor_id" required formControlName="deudor_id" name="deudor_id" [ngClass]="{ 'is-invalid': submitted && form['deudor_id'].errors }">
                    <option *ngFor="let t of deudor" value="{{t.id}}"  >{{t.entidad.nombre}} </option>
                    </select>
                    <div *ngIf="submitted && form['deudor_id'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['deudor_id'].errors['required']">Es requerido</div>
                    <div *ngIf="form['deudor_id'].errors['minlength']">Debe tener al menos {{form['deudor_id'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['deudor_id'].errors['maxlength']">Debe tener menos de {{form['deudor_id'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['deudor_id'].errors['min']">Debe tener mayor o igual que {{form['deudor_id'].errors['min']['min']}} </div>
                    <div *ngIf="form['deudor_id'].errors['max']">Debe tener menor o igual que {{form['deudor_id'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-4 ">
                    <label for="nombre">(*)Fecha de crédito </label>
                    <input type="date"  class="form-control uppercase" id="creditofecha" (click)="alCambiar(form)" required formControlName="creditofecha" [ngClass]="{ 'is-invalid': submitted && form['creditofecha'].errors }">
                    <div *ngIf="submitted && form['creditofecha'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['creditofecha'].errors['required']">Es requerido</div>
                    <div *ngIf="form['creditofecha'].errors['minlength']">Debe tener al menos {{form['creditofecha'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['creditofecha'].errors['maxlength']">Debe tener menos de {{form['creditofecha'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['creditofecha'].errors['min']">Debe tener mayor o igual que {{form['creditofecha'].errors['min']['min']}} </div>
                    <div *ngIf="form['creditofecha'].errors['max']">Debe tener menor o igual que {{form['creditofecha'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 d-none">
                    <label for="formrow-firstname-input ">Estados</label>
                    <select class="form-control form-select" id="estados"  formControlName="estados" name="estados" [ngClass]="{ 'is-invalid': submitted && form['estados'].errors }">
                    <option *ngFor="let t of credito_estado" value="{{t.id}}"  >{{t.credito_id}} </option>
                    </select>
                    <div *ngIf="submitted && form['estados'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['estados'].errors['required']">Es requerido</div>
                    <div *ngIf="form['estados'].errors['minlength']">Debe tener al menos {{form['estados'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['estados'].errors['maxlength']">Debe tener menos de {{form['estados'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['estados'].errors['min']">Debe tener mayor o igual que {{form['estados'].errors['min']['min']}} </div>
                    <div *ngIf="form['estados'].errors['max']">Debe tener menor o igual que {{form['estados'].errors['max']['max']}} </div>
                    </div>
                </div>

                <div class="mb-6 col-sm-12 d-none">
                    <label for="formrow-firstname-input ">Pagos</label>
                    <select class="form-control form-select" id="pagos"  formControlName="pagos" name="pagos" [ngClass]="{ 'is-invalid': submitted && form['pagos'].errors }">
                    <option *ngFor="let t of credito_pagos" value="{{t.id}}"  >{{t.credito_id}} </option>
                    </select>
                    <div *ngIf="submitted && form['pagos'].errors" class="invalid-feedback" align="left" >
                    <div *ngIf="form['pagos'].errors['required']">Es requerido</div>
                    <div *ngIf="form['pagos'].errors['minlength']">Debe tener al menos {{form['pagos'].errors['minlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['pagos'].errors['maxlength']">Debe tener menos de {{form['pagos'].errors['maxlength']['requiredLength']}} caracteres</div>
                    <div *ngIf="form['pagos'].errors['min']">Debe tener mayor o igual que {{form['pagos'].errors['min']['min']}} </div>
                    <div *ngIf="form['pagos'].errors['max']">Debe tener menor o igual que {{form['pagos'].errors['max']['max']}} </div>
                    </div>
                </div>
            
                <div class="mb-6 col-sm-12" *ngIf="dataEdit">
                    <hr>
                    <ul class="nav nav-tabs nav-tabs-dark" role="tablist">                        
                        
                    <li class="nav-item" >
                        <a class="nav-link atabx active" data-bs-toggle="tab" data-bs-target="#tab-creditoestado" role="button" aria-current="page" href="#">Estados</a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link atabx " data-bs-toggle="tab" data-bs-target="#tab-creditopagos" role="button" aria-current="page" href="#">Pagos</a>
                    </li>
                    </ul>
                    <div class="tab-content">
                        
                    <div class="tab-pane border active" id="tab-creditoestado" >
                        <app-listado-creditoestado *ngIf="rel_prefix" [rel_prefix]="rel_prefix" [rel_field]="'credito_id'" > </app-listado-creditoestado>
                    </div>

                    <div class="tab-pane border " id="tab-creditopagos" >
                        <app-listado-creditopagos *ngIf="rel_prefix" [rel_prefix]="rel_prefix" [rel_field]="'credito_id'" > </app-listado-creditopagos>
                    </div>
                    </div>
                </div> 
            <hr>
            <div class="col-lg-6">
              <button *ngIf="!dataEdit" type="submit" class="btn btn-primary w-md">Registrar</button>
              <button *ngIf="dataEdit" type="submit" class="btn btn-primary w-md">Guardar</button>
              <span *ngIf="!esModal" (click)="volver()"  class="btn btn-secondary w-md">Volver</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
