<div id="accountFormModalBodyDiv">
  <div class="col-xl-12 border-bottom p-4 pb-2">
    <div class="float-end ms-2">
      <h6 class="fs-14 mb-0 ms-1 text-secondary fw-bold">
        DETALLE DEL ANTICIPO
      </h6>
    </div>
    <div class="d-flex">
      <div class="flex-grow-1 align-self-center">
        <div class="text-muted">
          <h5 class="mb-1">
            Nª referencia: {{ dataAnticipoProveedor["nroReferencia"]}}
          </h5>
          <p class="mb-0">
            Descripción: {{ dataAnticipoProveedor["descripcion"]}}
          </p>
          <p class="mb-0">
            Monto anticipo: {{ dataAnticipoProveedor["monto"] }}
          </p>
          <p class="mb-0 fw-medium">
            Saldo anticipo: {{ dataAnticipoProveedor["saldo"] }}
          </p>
        </div>
      </div>
    </div>
  </div>

   <div class="row p-3">
    <div class="table-responsive">
      <table class="table table-sm m-0">
        <thead>
          <tr>
            <th class="text-muted fs-14 mb-2" [width]="250">Estado</th>
            <th class="text-muted fs-14 mb-2">Fecha</th>
            <th class="text-muted fs-14 mb-2">Monto</th>
            <th class="text-muted fs-14 mb-2">Detalle</th>
          </tr>
        </thead>
        <tbody>
          <ng-template *ngIf="detalleList.length != 0; then listado else mensaje "/>
          <ng-template #listado>
            <tr *ngFor="let detalle of detalleList">
              <td>
                <div class="d-flex">
                </div>
                  <span class="badge bg-secondary font-size-10">
                    {{ detalle["estadoAnticipoProveedor"]["nombre"] }}
                  </span> |
                  <span class="badge font-size-10" [ngClass]="{
                    'bg-info': detalle['estadoContabilidad']['codigo'] === 'INI',
                    'bg-success': detalle['estadoContabilidad']['codigo'] === 'CONT',
                    'bg-primary': detalle['estadoContabilidad']['codigo'] === 'PCONT'
                  }">
                    {{ detalle["estadoContabilidad"]["nombre"]}}
                  </span>
              </td>
              <td>
                <div>
                  <p class="mb-0 text-muted">
                    {{ detalle["fecha"] | fechaFormat }}
                  </p>
                </div>
              </td>
              <td>{{ detalle["monto"] }}</td>
              <td>
                <div *ngIf="detalle.compra">
                  <p class="mb-0 text-muted">
                    {{ detalle.compra?.tipo }}:
                    {{ detalle.compra?.nroFacturaRecibo }}
                  </p>
                  <small class="text-muted text-end mb-0"
                    ><b>Fecha compra: </b
                    >{{ detalle.compra?.fechaCompra | fechaFormat }}</small
                  >
                </div>
                <div *ngIf="!detalle.compra">
                  <span class="badge bg-secondary font-size-10">
                    <i>Sin detalles</i>
                  </span>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #mensaje>
            <tr>
              <td colspan="4">
                <alert type="info" [dismissible]="false" role="alert">
                  <i class="mdi mdi-alert-circle-outline me-2"></i>
                  Sin registros encontrados
                </alert>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
      <pagination-only
        [selectPageSmall]="true"
        [datos]="detalleList"
        [pagination]="pagination"
        (alPaginar)="recibirParametrosPage($event)"
      ></pagination-only>
    </div>
  </div>

  <div class="row mt-3 mb-3 me-3">
    <div class="hstack gap-2 justify-content-end">
      <button
        type="button"
        class="btn btn-light"
        data-bs-dismiss="modal"
        (click)="this.cerrarModal.emit()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>

