<div>
  <div class="border-bottom mb-3">
    <label class="mb-3 ps-2">Los campos marcados con asterisco (*) son obligatorios.</label>
    <div class="nav font-size-13 py-2">
      <div class="col-4 mb-3 px-1">
        <label class="mb-2">(*) Nro de Referencia </label>
        <input type="text" class="form-control" [(ngModel)]="transaccion.nroReferencia" disabled>
      </div>
      <div class="col-4 mb-3 px-1">
        <label class="mb-2">(*) Usuario </label>
        <input type="text" class="form-control" [(ngModel)]="transaccion.userName" disabled>
      </div>
      <div class="col-4 mb-3 px-1">
        <label class="mb-2">(*) Fecha </label>
        <input type="text" class="form-control" [(ngModel)]="transaccion.fecha" disabled>
      </div>
      <div class="col-4 mb-3 px-1">
        <label class="mb-2">(*) Centro de Costos </label>
        <input type="text" class="form-control" [(ngModel)]="transaccion.centroCostoNombre" disabled>
      </div>
      <div class="col-4 mb-3 px-1">
        <label class="mb-2">(*) Proveedor </label>
        <ng-select [(ngModel)]="transaccion.entidadReferencialId" [items]="proveedoresList" bindLabel="nombre" bindValue="id" [readonly]="true"></ng-select>
      </div>
      <div class="col-4 mb-3 px-1">
        <label class="mb-2">(*) Total</label>
        <input type="text" class="form-control text-end" [(ngModel)]="transaccion.total" disabled>
      </div>
      <div class="col-12 mb-3 px-1">
        <label class="mb-2">(*) Descripción </label>
        <textarea class="form-control uppercase" rows="1" [(ngModel)]="transaccion.descripcion" disabled></textarea>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="pb-2 ps-2">Formas de Pago</h5>
    <div *ngIf="contado" class="card card-body shadow-lg">
      <h6 class="pb-2">Pagos al Contado </h6>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th style="width: 10%">Nro</th>
              <th style="width: 20%">Tipo Pago</th>
              <th style="width: 30%">Caja-Cuenta Bancaria</th>
              <th style="width: 20%">Monto</th>
              <th style="width: 20%">Medio de Transferencia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fp of contadoList; index as i">
              <td>{{ i + 1 }}</td>
              <td>
                <ng-select [(ngModel)]="fp.tipoPagoId" class="custom-class" [items]="tipoPagoContadoList" bindLabel="nombre" bindValue="id" [readonly]="true"></ng-select>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="fp.refNombre" disabled></td>
              <td><input type="text" class="form-control text-end" [(ngModel)]="fp.monto" disabled></td>
              <td>
                <ng-select [(ngModel)]="fp.cuentaContadoMedioId" class="custom-class" [items]="medioTransferenciaList" bindLabel="medio" bindValue="id" [readonly]="true"></ng-select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="creditos" class="card card-body shadow-lg">
      <h6 class="pb-2">Creditos </h6>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th style="width: 10%">Nro</th>
              <th style="width: 30%">Tipo</th>
              <th style="width: 30%">Monto</th>
              <th style="width: 30%">Plan Pagos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fp of creditoList; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ fp.tipoFormaPago }}</td>
              <td><input type="text" class="form-control  text-end" [(ngModel)]="fp.monto" disabled></td>
              <td>
                <button *ngIf="fp.planPago != null" class="btn btn-info btn-sm" (click)="verPlanPago(fp.planPago)" [outsideClick]="true" [popover]="popTemplate" [adaptivePosition]="true" container="body" boundariesElement="viewport" placement="right" containerClass="customClassPopOver"><i class="mdi mdi-eye"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="anticipos" class="card card-body shadow-lg">
      <h6 class="pb-2">Anticipos </h6>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th style="width: 10%">Nro</th>
              <th style="width: 30%">Tipo</th>
              <th style="width: 30%">Monto</th>
              <th style="width: 30%">Plan Anticipos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fp of anticipoList; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ fp.tipoFormaPago }}</td>
              <td><input type="text" class="form-control  text-end" [(ngModel)]="fp.monto" disabled></td>
              <td>
                <button *ngIf="fp.planPago != null" class="btn btn-info btn-sm" (click)="verPlanPago(fp.planPago)" [outsideClick]="true" [popover]="popTemplate" [adaptivePosition]="true" container="body" boundariesElement="viewport" placement="right" containerClass="customClassPopOver"><i class="mdi mdi-eye"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #popTemplate>
  <div class="col-12 w-100">
    <div class="table-responsive pb-0">
      <table class="table table-hover table-sm mb-0">
        <thead>
          <tr>
            <th>Nro</th>
            <th>Fecha</th>
            <th *ngIf="viewAnticipo">Anticipo</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pp of planPago; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ pp.fecha }}</td>
            <td *ngIf="viewAnticipo">{{ pp.anticipoReferencia }}</td>
            <td class="text-end">{{ pp.importe }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
