<form [formGroup]="formGroup">
  <label class="mb-3 col-12">Los campos marcados con asterisco (*) son obligatorios.</label>
  <div class="nav col-12 mb-3">
    <div class="col-6 mb-3 px-1">
      <label class="mb-2">(*) Nro de Solicitud </label>
      <input type="text" class="form-control" formControlName="nroSolicitud" [ngClass]="{ 'is-invalid': submitted && form['nroSolicitud'].errors}">
      <div *ngIf="submitted && form['nroSolicitud'].errors" class="col-sm-12">
        <div *ngIf="form['nroSolicitud'].errors['required']" class="text-danger mt-1 font-size-10">El nro de solicitud es obligatorio</div>
        <div *ngIf="form['nroSolicitud'].errors['pattern']" class="text-danger mt-1 font-size-10">El nro de solicitud solo acepta carácteres númericos</div>
      </div>
    </div>
    <div class="col-6 mb-3 px-1">
      <label class="mb-2">(*) Fecha de Desembolso</label>
      <input type="text" placeholder="dd-mm-AA" formControlName="fechaSolicitud" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }" [ngClass]="{ 'is-invalid': submitted && form['fechaSolicitud'].errors}">
      <div *ngIf="submitted && form['fechaSolicitud'].errors" class="col-sm-12">
        <div *ngIf="form['fechaSolicitud'].errors['required']" class="text-danger mt-1 font-size-10">La fecha es obligatoria</div>
      </div>
    </div>
    <div class="col-6 mb-3 px-1">
      <label class="mb-2">(*) Responsable</label>
      <ng-select class="uppercase" formControlName="responsableId" placeholder="Seleccione un responsable" [ngClass]="{ 'ngselect-invalid': submitted && form['responsableId'].errors != null }">
        <ng-option *ngFor="let responsable of listaResponsables" [value]="responsable.entidadId">
          {{responsable.entidad.nombre}} - {{responsable.entidad.nitCi}}
        </ng-option>
      </ng-select>
      <div *ngIf="submitted && form['responsableId'].errors" class="col-sm-12">
        <div *ngIf="form['responsableId'].errors['required']" class="text-danger mt-1 font-size-10">El responsable es obligatorio</div>
      </div>
    </div>
    <div class="col-6 mb-3 px-1" *ngIf="tipoDescargo">
      <label class="mb-2">(*) Centro de Costos </label>
      <ng-select class="uppercase" formControlName="centroCostoId" appendTo="body" placeholder="Seleccione un centro de costos" [items]="listaCentroCostos" bindLabel="nombre" bindValue="id" [ngClass]="{ 'ngselect-invalid': submitted && form['centroCostoId'].errors != null }"></ng-select>
      <div *ngIf="submitted && form['centroCostoId'].errors" class="col-sm-12">
        <div *ngIf="form['centroCostoId'].errors['required']" class="text-danger mt-1 font-size-10">El centro de costos es obligatorio</div>
      </div>
    </div>
    <div class="mb-3 nav col-12 px-1">
      <label class="mb-2"><span *ngIf="tipoDescargo && ['DEVO', 'CIERR'].includes(tipoDescargo)">(*) </span>Descripción</label>
      <textarea class="form-control uppercase" formControlName="descripcion" rows="2" [ngClass]="{ 'is-invalid': submitted && form['descripcion'].errors}"></textarea>
      <div *ngIf="submitted && form['descripcion'].errors" class="col-sm-12">
        <div *ngIf="form['descripcion'].errors['required']" class="text-danger mt-1 font-size-10">La descripción es obligatorio</div>
      </div>
    </div>
    <div class="col-6 mb-3 px-1">
      <label class="mb-2">(*) Monto de Apertura </label>
      <input type="text" class="form-control text-end" formControlName="importe" (keyup)="cambioMontoApertura()" placeholder="Bs." [ngClass]="{ 'is-invalid': submitted && form['importe'].errors}">
      <div *ngIf="submitted && form['importe'].errors" class="col-sm-12">
        <div *ngIf="form['importe'].errors['required']" class="text-danger mt-1 font-size-10">El monto de solicitud es obligatorio</div>
        <div *ngIf="form['importe'].errors['pattern']" class="text-danger mt-1 font-size-10">El monto de solicitud solo acepta carácteres númericos</div>
      </div>
    </div>
    <div class="col-6 mb-3 px-1" *ngIf="form.saldo">
      <label class="mb-2">(*) Saldo</label>
      <input type="text" class="form-control text-end" formControlName="saldo" placeholder="Bs." [ngClass]="{ 'is-invalid': submitted && form['saldo'].errors}">
      <div *ngIf="submitted && form['saldo'].errors" class="col-sm-12">
        <div *ngIf="form['saldo'].errors['required']" class="text-danger mt-1 font-size-10">El saldo es obligatorio</div>
      </div>
    </div>
    <div class="col-6 mb-3 px-1" *ngIf="form.monto && fondo?.saldo != 0">
      <label class="mb-2">(*) Monto de Devolución</label>
      <input type="number" class="form-control text-end" formControlName="monto" (change)="cambioMontoMovimiento()" placeholder="Bs." [ngClass]="{ 'is-invalid': submitted && form['monto'].errors}">
      <div *ngIf="submitted && form['monto'].errors" class="col-sm-12">
        <div *ngIf="form['monto'].errors['required']" class="text-danger mt-1 font-size-10">El monto es obligatorio</div>
        <div *ngIf="form['monto'].errors['montoDevolucion']" class="text-danger font-size-10 mt-1" >El monto de devolución no debe superar el saldo {{fondo.saldo}}</div>
        <div *ngIf="form['monto'].errors['min']" class="text-danger font-size-10 mt-1" >El monto de devolución debe ser mayor a 0</div>
      </div>
    </div>
  </div>
  <div *ngIf="form.operaciones" class="w-100">
    <app-operaciones #appOperaciones [montoPagar]="montoPagar" [submitted]="submitted" [formGroup]="formGroup"></app-operaciones>
  </div>
  <div *ngIf="form.planPagos" class="col-12 card card-body shadow-lg mt-3 mb-0">
    <h5 class="mb-3 pb-3 border-bottom">Plan de Pagos para Monto Excedente</h5>
    <div class="nav">
      <div class="col-6 mb-3 pe-1">
        <label>(*) Monto Excedente a Pagar</label>
        <input [(ngModel)]="montoExcedentePagar" [ngModelOptions]="{standalone: true}" class="form-control text-end" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [disabled]="true" [ngClass]="{ 'is-invalid': submitted && !montoExcedentePagar || submitted && montoExcedentePagar != importeTotalCredito}"/>
        <div *ngIf="submitted && !montoExcedentePagar" class="text-danger font-size-10 ">Ingrese monto a pagar</div>
        <div *ngIf="submitted && montoExcedentePagar != importeTotalCredito" class="text-danger font-size-10">El monto excedente a pagar no es igual al total de importes del crédito</div>
      </div>
      <div class="col-6 mb-3 ps-1">
        <label>Tipo</label>
        <ng-select [(ngModel)]="creditoForm['tipoCuota']" [ngModelOptions]="{standalone: true}" notFoundText="Sin registros" class="uppercase" placeholder="Seleccione una opción">
          <ng-option value="1">Cuotas con monto fijo</ng-option>
          <ng-option value="2">Cuotas por porcentajes</ng-option>
        </ng-select>
      </div>
      <div class="col-6 mb-3 pe-1">
        <label>
          <span *ngIf="creditoForm['tipoCuota'] != '2'">Nro. Cuotas</span>
          <span *ngIf="creditoForm['tipoCuota'] == '2'">Porcentaje</span>
        </label>
        <input [(ngModel)]="creditoForm['cuotas']" [ngModelOptions]="{standalone: true}" class="form-control text-end"type="number"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
      </div>
      <div class="col-6 mb-3 ps-1">
        <label>Intérvalo Días</label>
        <input [(ngModel)]="creditoForm['dias']" [ngModelOptions]="{standalone: true}" class="form-control text-end" type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
      </div>
    </div>
    <div class="nav justify-content-between mb-3">
      <button type="button" class="btn btn-primary" (click)="addPago()" title="Agregar Nueva Cuota en Blanco a la lista."><i class="mdi mdi-plus"></i> Cuota</button>
      <button type="button" class="btn btn-success" (click)="generarPlanPagos() "title="Generar lista de Cuotas Segun los parametros.">Generar plan de pagos </button>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Acciones</th>
            <th>Nro Cuota</th>
            <th>Fecha Pago</th>
            <th>Importe</th>
          </tr>
        </thead>
        <tbody formArrayName="planPagos">
          <tr *ngFor="let pago of planPagos.controls; index as i" [formGroupName]="i">
            <td>
              <button (click)="removePago(i)" class="btn btn-danger btn-sm"><i class="mdi mdi-trash-can-outline"></i></button>
            </td>
            <td>{{i+1}}</td>
            <td>
              <div class="input-group input-group fecha-input">
                <input type="text" formControlName="fechaPago" placeholder="dd-mm-AA" class="form-control" bsDatepicker  [minDate]="fechaActual" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true}" [ngClass]="{ 'is-invalid': submitted && planPagos.controls[i]['controls']['fechaPago'].errors}">
                <span class="input-group-text"><i class="mdi mdi-calendar-outline"></i></span>
              </div>
              <div *ngIf="submitted && planPagos.controls[i]['controls']['fechaPago'].errors" class="col-sm-12">
                <div *ngIf="planPagos.controls[i]['controls']['fechaPago'].errors['required']" class="text-danger mt-1 font-size-10">La fecha de pago es obligatoria</div>
              </div>
            </td>
            <td>
              <input type="number" formControlName="importe" (change)="calcularCuotas()" class="form-control text-end" [ngClass]="{ 'is-invalid': submitted && planPagos.controls[i]['controls']['importe'].errors}">
              <div *ngIf="submitted && planPagos.controls[i]['controls']['importe'].errors" class="col-sm-12">
                <div *ngIf="planPagos.controls[i]['controls']['importe'].errors['required']" class="text-danger mt-1 font-size-10">El importe es obligatorio</div>
                <div *ngIf="planPagos.controls[i]['controls']['importe'].errors['min']" class="text-danger mt-1 font-size-10">El importe debe ser mayor a 0</div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" ></td>
            <td class="text-end"><span class="fw-semibold semi">Importe Total</span></td>
            <td class="text-end pe-4">
              {{importeTotalCredito}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</form>


