<form [formGroup]="formProceso">
  <label class="mb-3 col-12">Los campos marcados con asterisco (*) son obligatorios.</label>
  <div class="nav col-12">
    <div class="col-12">
      <label class="mb-3">(*) Nombre</label>
      <div class="mb-3">
        <input type="text" formControlName="nombre" class="form-control uppercase" [ngClass]="{ 'is-invalid': submitted && form['nombre'].errors}"/>
        <div *ngIf="submitted && form['nombre'].errors" class="col-sm-12">
          <div *ngIf="form['nombre'].errors['required']" class="text-danger mt-1 font-size-10">El nombre es obligatorio</div>
        </div>
      </div>
    </div>
    <div class="col-6 pe-1">
      <label class="mb-3">(*) Código</label>
      <div class="mb-3">
        <input type="text" formControlName="codigo" class="form-control uppercase" [ngClass]="{ 'is-invalid': submitted && form['codigo'].errors}"/>
        <div *ngIf="submitted && form['codigo'].errors" class="col-sm-12">
          <div *ngIf="form['codigo'].errors['required']" class="text-danger mt-1 font-size-10">El código es obligatorio</div>
        </div>
      </div>
    </div>
    <div class="col-6 ps-1">
      <label class="mb-3">(*) Automático</label>
      <div class="mb-3">
        <ui-switch formControlName="automatico" color="#556ee6" [checked]="true" uncheckedLabel="No" checkedLabel="Si" size="medium" class="ps-3"></ui-switch>
        <div *ngIf="submitted && form['automatico'].errors" class="col-sm-12">
          <div *ngIf="form['automatico'].errors['required']" class="text-danger mt-1 font-size-10">El proceso automatico es obligatorio</div>
        </div>
      </div>
    </div>
    <div class="col-12" >
      <label class="mb-3">(*) Descripción</label>
      <div class="mb-3">
        <textarea formControlName="descripcion" class="form-control uppercase" rows="2"></textarea>
      </div>
    </div>
  </div>
</form>
