<krn-tabla
	#tabla
	[titulo]="tableTitle"
	[datosService]="tesoreriaProveedorService"
	getAll="getEnabledRecords"
	[formato]="format"
	[textoBuscar]="searchText"
	[isSubtable]="rel_prefix"
	[smallTable]="false"
	[softDelete]="false"
	(alCrear)="(null)"
	(alFiltrar)="(null)"
	(alEditar)="(null)"
	(alHabilitar)="(null)"
	(alDeshabilitar)="(null)"
	(alEliminar)="(null)"
	[botonExportar]="false"
	[botonImportar]="false"
	[conOpciones]="false"
	[templateFila]="rowTemplate"
	[botonNuevo]="false"
/>

<ng-template #rowTemplate let-row="fila" let-headers="cabeceras">
	<ng-template ngFor let-field [ngForOf]="headers">
		<ng-template *ngIf="true; then tempTd" />
		<ng-template #tempTd>
			<td [ngSwitch]="field">
				<span *ngSwitchCase="'acciones'">
					<td>
						<ul class="list-unstyled hstack gap-1 mb-0">
							<li
								data-bs-toggle="tooltip"
								data-bs-placement="top"
								title="Ver Lista de Pagos Pendientes"
							>
								<button
									class="btn btn-sm btn-info"
									[disabled]="row.deleted"
									(click)="navigateToBeneficiaryDetails(row)"
								>
									<i class="mdi mdi-format-list-bulleted"></i>
								</button>
							</li>
						</ul>
					</td>
				</span>

				<span *ngSwitchCase="'deleted'">
					<td>
						<span
							class="badge font-size-10"
							[ngClass]="{
								'bg-success': !row.deleted,
								'bg-danger': row.deleted
							}"
						>
							<i
								class="mdi me-1"
								[ngClass]="{
									'mdi-lock-open': !row.deleted,
									'mdi-lock': row.deleted
								}"
							>
							</i>
							{{ row.deleted ? 'Inhabilitado' : 'Habilitado' }}
						</span>
					</td>
				</span>
				<span *ngSwitchCase="'deudaPendiente'"> 0 </span>

				<span *ngSwitchDefault>
					<td>{{ row[field] }}</td>
				</span>
			</td>
		</ng-template>
	</ng-template>
</ng-template>
