<form [formGroup]="formEmpleado">
	<p class="mb-3 col-12">
		Los campos marcados con asterisco (*) son obligatorios.
	</p>
	<div class="nav col-12">
		<div class="col-12 mb-3">
			<label class="mb-2" for="employeeName">
				(*) Nombre <i class="mdi mdi-magnify"></i>
			</label>
			<input
				id="employeeName"
				type="text"
				class="form-control"
				formControlName="nombre"
				placeholder="NOMBRE DEL EMPLEADO"
				[ngClass]="{
					'is-invalid': formEmpleado.get('nombre')?.errors && submitted
				}"
				(input)="
					utilityService.convertUppercase('nombre', $event, formEmpleado)
				"
			/>
			<div
				*ngIf="submitted && formEmpleado.get('nombre')?.errors"
				class="col-sm-12"
			>
				<div
					*ngIf="formEmpleado.get('nombre')?.errors?.required"
					class="text-danger mt-1 font-size-10"
				>
					El Nombre es obligatorio
				</div>
			</div>
		</div>
		<div class="col-12 mb-3">
			<label class="mb-2" for="employeeDocument">
				(*) NIT/CI <i class="mdi mdi-magnify"></i>
			</label>
			<input
				id="employeeDocument"
				type="text"
				class="form-control"
				formControlName="nitCi"
				placeholder="NIT/CI DEL EMPLEADO"
				[ngClass]="{
					'is-invalid': formEmpleado.get('nitCi')?.errors && submitted
				}"
				[readOnly]="!empleado ? false : true"
				(input)="
					utilityService?.convertUppercase('nitCi', $event, formEmpleado)
				"
			/>
			<div
				*ngIf="submitted && formEmpleado.get('nitCi')?.errors"
				class="col-sm-12"
			>
				<div
					*ngIf="formEmpleado.get('nitCi')?.errors?.required"
					class="text-danger mt-1 font-size-10"
				>
					El NIT/CI es obligatorio
				</div>
				<div
					*ngIf="formEmpleado.get('nitCi')?.errors?.minLength"
					class="text-danger mt-1 font-size-10"
				>
					El NIT/CI debe ser mayor a 4 caracteres
				</div>
			</div>
		</div>
	</div>
</form>
