<ng-template
*ngIf="importarDescargar; then downloadTemplateClient; else importDataProcess"
/>

<ng-template #downloadTemplateClient>
  <div class="row">
    <div class="hstack gap-2 justify-content-center">
      <div class="col-lg-8 border">
        <div class="m-3">
          <form
            [formGroup]="formDownloadTemplateClient"
            (ngSubmit)="descargarPlantilla(codeCliente)"
          >
            <h6 class="fw-bold text-secondary">
              Seleccione un cliente antes de descargar la plantilla
            </h6>
            <div class="d-flex">
              <ng-select
                class="me-3 col-9"
                formControlName="referenciaId"
                placeholder="Seleccione Cliente"
                [items]="dataClient"
                bindLabel="nombre"
                bindValue="id"
                (change)="selectData($event)"
              />
              <button type="submit" class="btn btn-info">Descargar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #importDataProcess>
  <div class="hstack gap-2 justify-content-center">
    <div class="col-md-10">
      <form (ngSubmit)="importarExcelCliente(codeCliente)" [formGroup]="excelForm">
        <div>
          <div class="mb-3 position-relative">
            <h6 class="fw-bold text-secondary">
              Adjunte un documento Excel(*.xlsx) con los datos a importar
            </h6>
            <input
              class="form-control"
              type="file"
              formControlName="archivoXLSX"
              (change)="recibirExcelCliente($event, codeCliente)"
              multiple="false"
              [ngClass]="{
                'is-invalid': submitted && formE['archivoXLSX'].errors
              }"
            />
            <div
              *ngIf="submitted && formE['archivoXLSX'].errors"
              class="invalid-tooltip end-0"
            >
              <div *ngIf="formE['archivoXLSX'].errors['required']">
                No ha ingresado ningun documento excel
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <ng-container [ngSwitch]="codeCliente">
            <ng-template
              *ngSwitchCase="'ANT_CLIENTE'"
              [ngTemplateOutlet]="preview_advanced"
            />
            <ng-template
              *ngSwitchCase="'COB_CLIENTE'"
              [ngTemplateOutlet]="preview_collection"
            />
          </ng-container>
        </div>
        <div class="row">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="limpiarInputFile()"
            >
              Limpiar
            </button>
            <button type="submit" class="btn btn-success">
              Realizar Importación
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Vista previa anticipos -->
  <ng-template #preview_advanced>
    <div class="table-responsive seccion-data-import" *ngIf="dataFila">
      <table class="table table-hover mb-0 table-bordered table-sm m-0">
        <tbody>
          <tr>
            <td></td>
            <td colspan="3">
              <div class="d-flex">
                <h6 class="fw-bold text-primary">Cliente :</h6>
                <h6 class="text-primary">{{ clientData['razonSocial'] }}</h6>
              </div>
            </td>
            <td colspan="2">
              <div class="d-flex">
                <h6 class="fw-bold text-primary">Nº documento :</h6>
                <h6 class="text-primary">{{ clientData['numeroDocumento'] }}</h6>
              </div>
            </td>
          </tr>
          <tr
            *ngFor="let data of dataFila; let i = index"
            [class]="{ 'table-danger': data['messageError']}">

            <td
              class="text-secondary"
              [class]="{ error: data['error'], 'bg-light': i == 0 }"
            >
              <b *ngIf="i != 0">{{ i }}</b>
            </td>
            <td>
              <span
                [ngClass]="{
                  'text-secondary fw-semibold semi font-size-13': i == 0
                }"
              >
                {{ data["descripcion"] }}
              </span>
            </td>
            <td>
              <span
                [ngClass]="{
                  'text-secondary fw-semibold semi font-size-13': i == 0
                }"
              >
                {{ data["monto"] }}
              </span>
            </td>
            <td>
              <span
                [ngClass]="{
                  'text-secondary fw-semibold semi font-size-13': i == 0
                }"
              >
                {{ data["fecha"] }}
              </span>
            </td>
            <td>
              <span
                [ngClass]="{
                  'text-secondary fw-semibold semi font-size-13': i == 0
                }"
              >
                {{ data["centroCosto"] }}
              </span>
            </td>
            <td>
              <span
                [ngClass]="{
                  'text-secondary fw-semibold semi font-size-13': i == 0
                }"
              >
                {{ data["nroReferencia"] }}
              </span>
            </td>
            <td
              *ngIf="data['messageError']"
              [ngStyle]="{ width: '22%' }"
            >
              <p class="error" [innerHTML]="data.messageError"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <!-- Vista previa cobros -->
  <ng-template #preview_collection>
    <div class="table-responsive seccion-data-import mb-2" *ngIf="dataFila">
      <table class="table table-hover mb-0 table-bordered table-sm m-0">
        <tbody>
          <tr>
            <td></td>
            <td colspan="5">
              <div class="d-flex">
                <h6 class="fw-bold text-primary">Cliente :</h6>
                <h6 class="text-primary">{{  clientData['razonSocial'] }}</h6>
              </div>
            </td>
            <td colspan="3">
              <div class="d-flex">
                <h6 class="fw-bold text-primary">Nº documento :</h6>
                <h6 class="text-primary">{{  clientData['numeroDocumento'] }}</h6>
              </div>
            </td>
          </tr>
          <tr
          *ngFor="let data of dataFila; let i = index"
          [class]="{ 'table-danger': data['messageError']}">

          <td
            class="text-secondary"
            [class]="{ error: data['error'], 'bg-light': i == 0 }"
          >
            <b *ngIf="i != 0">{{ i }}</b>
          </td>
          <td>
            <span
              [ngClass]="{
                'text-secondary fw-semibold semi font-size-13': i == 0
              }"
            >
              {{ data["descripcion"] }}
            </span>
          </td>
          <td>
            <span
              [ngClass]="{
                'text-secondary fw-semibold semi font-size-13': i == 0
              }"
            >
              {{ data["tipoDocumento"] }}
            </span>
          </td>
          <td>
            <span
              [ngClass]="{
                'text-secondary fw-semibold semi font-size-13': i == 0
              }"
            >
              {{ data["nroFacturaRecibo"] }}
            </span>
          </td>
          <td>
            <span
              [ngClass]="{
                'text-secondary fw-semibold semi font-size-13': i == 0
              }"
            >
              {{ data["totalVenta"] }}
            </span>
          </td>
          <td>
            <span
              [ngClass]="{
                'text-secondary fw-semibold semi font-size-13': i == 0
              }"
            >
              {{ data["fechaVenta"] }}
            </span>
          </td>
          <td>
            <span
              [ngClass]="{
                'text-secondary fw-semibold semi font-size-13': i == 0
              }"
            >
              {{ data["centroCosto"] }}
            </span>
          </td>
          <td>
            <span
              [ngClass]="{
                'text-secondary fw-semibold semi font-size-13': i == 0
              }"
            >
              {{ data["montoCobrar"] }}
            </span>
          </td>
          <td>
            <span
              [ngClass]="{
                'text-secondary fw-semibold semi font-size-13': i == 0
              }"
            >
              {{ data["fechaCobrar"] }}
            </span>
          </td>
          <td
            *ngIf="data['messageError']"
            [ngStyle]="{ width: '22%' }"
          >
            <p class="error" [innerHTML]="data.messageError"></p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>


</ng-template>
